info_bot.json
[{"id":"971362fb.30577","type":"tab","label":"Info Bot","disabled":false,"info":""},{"id":"727f9302.0d1ccc","type":"tab","label":"Aragon Setup","disabled":false,"info":""},{"id":"4e92282e.32ef58","type":"tab","label":"Init Listeners","disabled":false,"info":""},{"id":"567f5928.9e5348","type":"tab","label":"RUE","disabled":false,"info":""},{"id":"5aed2856.a67078","type":"tab","label":"FTUE","disabled":false,"info":""},{"id":"87a6c1e9.bb1ab","type":"tab","label":"Sender Node","disabled":false,"info":""},{"id":"b55771d9.67f4","type":"tab","label":"Broadcast Message","disabled":false,"info":""},{"id":"4b2ebe0c.e40a5","type":"tab","label":"Moloch Info V1","disabled":false,"info":""},{"id":"b66ff179.44ec5","type":"subflow","name":"Block Chain Event Listener","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"e4208426.b45368"}]}],"out":[{"x":760,"y":80,"wires":[{"id":"e90a4e7b.a90fd","port":0},{"id":"e90a4e7b.a90fd","port":1}]}],"env":[],"color":"#DDAA99"},{"id":"2068bd43.dcf772","type":"subflow","name":"Initilise User","info":"","category":"","in":[{"x":40,"y":240,"wires":[{"id":"5f36c759.705348"}]}],"out":[{"x":1000,"y":200,"wires":[{"id":"5554b34b.50908c","port":0},{"id":"4ddee488.98bafc","port":1}]},{"x":1000,"y":240,"wires":[{"id":"511b6829.9c5538","port":1},{"id":"bdd8dd42.7ce65","port":1}]}],"env":[],"color":"#DDAA99"},{"id":"16a6ccfe.1026b3","type":"subflow","name":"Abi Events","info":"","category":"","in":[{"x":420,"y":280,"wires":[{"id":"b9e1b937.3cb648"}]}],"out":[{"x":740,"y":280,"wires":[{"id":"b9e1b937.3cb648","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"c2c75ab1.5ce928","type":"subflow","name":"Contract Event Listener","info":"","category":"","in":[{"x":180,"y":280,"wires":[{"id":"7259ccc.f732434"}]}],"out":[{"x":580,"y":280,"wires":[{"id":"7259ccc.f732434","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"3c49b0cb.137ae","type":"subflow","name":"Telegram Sender With Tracking","info":"","category":"","in":[{"x":200,"y":280,"wires":[{"id":"565b38d9.61aa38"}]}],"out":[{"x":780,"y":280,"wires":[{"id":"2604bf69.36261","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"94417973.813618","type":"subflow","name":"Delete Message","info":"","category":"","in":[{"x":180,"y":120,"wires":[{"id":"238d9a2c.67ca96"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"b0d2e4bb.b7a8d8","type":"node-config-airtable","z":"","name":"Airtable Config"},{"id":"ea6436a7.e5ef18","type":"chatbot-telegram-node","z":"","botname":"Aragon Info Bot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"e4208426.b45368","type":"function","z":"b66ff179.44ec5","name":"BC EventListener","func":"ethers = global.get('ethers');\nlet provider = ethers.getDefaultProvider(msg.payload.network);\n\nlet filter = {\n    address: msg.payload.address\n}\n\nprovider.on(filter, (result) => {\n    msg.payload.transaction = result;\n    node.send(msg);\n});\n\nreturn;","outputs":1,"noerr":0,"x":230,"y":80,"wires":[["30e3ad27.c9d0b2"]]},{"id":"30e3ad27.c9d0b2","type":"function","z":"b66ff179.44ec5","name":"Parse Trx","func":"ethers = global.get('ethers');\nlet provider = ethers.getDefaultProvider(msg.payload.network);\nlet transactionHash = msg.payload.transaction.transactionHash;\n\nif(msg.payload.abi === undefined){\n    node.send(msg);\n    node.done();\n}else{\n    iface = new ethers.utils.Interface (msg.payload.abi);\n    msg.payload.iface = iface;\n    \n    provider.getTransaction(transactionHash).then((transaction) => {\n        transaction.wait(2);\n        msg.payload.trxObj = transaction;\n        init(transaction);\n    });\n}\n\nasync function init(transaction){\n    try{\n      const parsedData = await iface.parseTransaction(transaction) ;\n      msg.payload.parsedData = parsedData;\n    }catch(e){\n        msg.payload.error = e;\n    } \n    node.send(msg);\n    node.done();\n}\n\nreturn ;","outputs":1,"noerr":0,"x":420,"y":80,"wires":[["e90a4e7b.a90fd"]]},{"id":"e90a4e7b.a90fd","type":"function","z":"b66ff179.44ec5","name":"","func":"if(msg.payload.parsedData === null || msg.payload.parsedData === undefined){\n    return [null, msg]\n}\nrecord = {\n    \"event_name\" : msg.payload.parsedData.name, \n    \"from\" : msg.payload.trxObj.from,\n    \"to\" : msg.payload.trxObj.to,\n    \"raw\" : msg.payload.trxObj.raw,\n    \"data\" : msg.payload.trxObj.data,\n    \"hash\" : msg.payload.trxObj.hash\n}\nmsg.payload.record = record;\nreturn [ msg, null ];","outputs":2,"noerr":0,"x":590,"y":80,"wires":[[],[]]},{"id":"1a5b3588.4b18ea","type":"debug","z":"b66ff179.44ec5","name":"BC Event Listener","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":220,"wires":[]},{"id":"5f36c759.705348","type":"function","z":"2068bd43.dcf772","name":"Get User","func":"msg.payload.filter = `({user_id} = '${msg.payload.userId.toString()}')`;\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":240,"wires":[["511b6829.9c5538"]]},{"id":"511b6829.9c5538","type":"node-airtable","z":"2068bd43.dcf772","name":"Get User","auth":"b0d2e4bb.b7a8d8","table":"user","tableType":"str","action":"list","filter":"payload.filter","filterType":"msg","record":"payload","recordType":"msg","records":"","recordsType":"msg","output":"payload.result","x":380,"y":240,"wires":[["4ddee488.98bafc"],[]]},{"id":"4ddee488.98bafc","type":"function","z":"2068bd43.dcf772","name":"Get Or Add New USer","func":"result = msg.payload.result;\ndelete msg.payload.filter;\ndelete msg.payload.result;\nif(JSON.stringify(result) === '{}'){\n    msg.payload.user = {\n        \"user_id\": msg.payload.userId.toString(),\n        \"chat_id\": msg.payload.chatId.toString(),\n        \"user_name\": msg.payload.username\n        \n    };\n    return [msg ,null]\n}else{\n    msg.payload.user = result[0];\n    msg.payload.user.newUser = false;\n    return [null,msg];\n}\nreturn;","outputs":2,"noerr":0,"x":580,"y":200,"wires":[["bdd8dd42.7ce65"],[]]},{"id":"bdd8dd42.7ce65","type":"node-airtable","z":"2068bd43.dcf772","name":"Add user to airtable","auth":"b0d2e4bb.b7a8d8","table":"user","tableType":"str","action":"post","filter":"","filterType":"msg","record":"payload.user","recordType":"msg","records":"","recordsType":"msg","output":"payload.user","x":810,"y":180,"wires":[["5554b34b.50908c"],[]]},{"id":"5554b34b.50908c","type":"change","z":"2068bd43.dcf772","name":"","rules":[{"t":"set","p":"payload.user.newUser","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":120,"wires":[[]]},{"id":"758063f0.83d0dc","type":"comment","z":"971362fb.30577","name":"Update airtable keys in this table config. (DO NOT DELETE, JUST UPDATE)","info":"","x":360,"y":80,"wires":[]},{"id":"798e6531.96896c","type":"node-airtable","z":"971362fb.30577","name":"Airtable Confing","auth":"b0d2e4bb.b7a8d8","table":"user","tableType":"str","action":"list","filter":"","filterType":"msg","record":"payload.id","recordType":"msg","records":"","recordsType":"msg","output":"","x":180,"y":140,"wires":[[],[]]},{"id":"bf3f835e.d7a18","type":"comment","z":"971362fb.30577","name":"Step I: Onboarding","info":"","x":210,"y":740,"wires":[]},{"id":"80ceccec.f4a0d","type":"change","z":"971362fb.30577","name":"","rules":[{"t":"set","p":"payload.username","pt":"msg","to":"originalMessage.from.username","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":960,"wires":[["91236eb7.3b132"]]},{"id":"cbec7a1c.7e3a88","type":"subflow:2068bd43.dcf772","z":"971362fb.30577","name":"","env":[],"x":710,"y":960,"wires":[["65a6cfa.0a6f63","3f9860f5.a924e"],["18d3eca8.ca2bf3"]]},{"id":"18d3eca8.ca2bf3","type":"debug","z":"971362fb.30577","name":"InitUser: Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":1020,"wires":[]},{"id":"fcd3a65f.dbdf48","type":"switch","z":"971362fb.30577","name":"","property":"payload.user.newUser","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":860,"wires":[["d74f4f1.6d70fb"],["69dff742.121018"]]},{"id":"44c61b42.4780e4","type":"debug","z":"971362fb.30577","name":"Telegram Input Node","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":220,"y":900,"wires":[]},{"id":"b0cf71f1.cd165","type":"link in","z":"87a6c1e9.bb1ab","name":"In: Sender Node","links":["7aed3dae.199544","82d39ccd.0eb9f","6894eeb4.56963","9e23aec9.8544b","dd9fe108.b255","6e787929.7ed6f8","2d8bbaae.ef3226","d8c74207.5e5c3","432016bc.94dcb8","be1f8e11.415f2","7fa98952.0a9f38","3933dd8.d824a22","eb03d39a.ec957","f51749be.e1b438","6de8a88d.3084e8","bcd877a4.8442a8","b2d8276d.e89f18","32596b5c.aff244","a0a5c983.918c88","f660dfd5.b22b6","aaf52b6d.7f3658","a0e315c3.b7d328","7bd81e81.8176f","df7f69f5.81f748","92a7a9a7.8a05b8","2f85b7bb.ebf388","285ebcfc.07e8a4","d846ef9d.111f8","1db8b6c6.ea9459","14c1c6f4.8bc129","df729b66.fde978","3c9ebcf.ff09044","e77262c.cf39ea","ae4a34f2.cef9f8","d35887f9.e01a08","fb22cb6b.22d6a8","c2d1a898.4bd8a8","6e9e625b.c25bec","e7ca2b5d.7d5548","ecbf1dfb.aef7e"],"x":215,"y":260,"wires":[["83de3168.f1d27"]]},{"id":"7976375a.379e68","type":"debug","z":"87a6c1e9.bb1ab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":625,"y":260,"wires":[]},{"id":"a82d50fe.6d71a","type":"change","z":"87a6c1e9.bb1ab","name":"","rules":[{"t":"set","p":"payload.type","pt":"msg","to":"action","tot":"str"},{"t":"set","p":"payload.content","pt":"msg","to":"typing","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":380,"wires":[["985956ca.d7db18"]]},{"id":"2621ca41.9493c6","type":"link in","z":"87a6c1e9.bb1ab","name":"In: Typing","links":["21a1c78a.46f468","fa862f71.d969a","1c88f636.201aba","10b9e7e7.b6c948","d53b167a.063018","41eb19f4.bc06c8"],"x":210,"y":380,"wires":[["a82d50fe.6d71a"]]},{"id":"dfd2f8ec.af1cc8","type":"link in","z":"5aed2856.a67078","name":"IN: FTUE","links":["d74f4f1.6d70fb"],"x":180,"y":280,"wires":[["4dba256d.279dcc"]]},{"id":"d74f4f1.6d70fb","type":"link out","z":"971362fb.30577","name":"","links":["dfd2f8ec.af1cc8"],"x":1355,"y":840,"wires":[]},{"id":"cbd7a0f8.4885e","type":"function","z":"5aed2856.a67078","name":"Welcome Message","func":"msg.payload.content = `\nHi,\n`\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":280,"wires":[["b2d8276d.e89f18"]]},{"id":"b2d8276d.e89f18","type":"link out","z":"5aed2856.a67078","name":"","links":["b0cf71f1.cd165"],"x":595,"y":280,"wires":[]},{"id":"69dff742.121018","type":"link out","z":"971362fb.30577","name":"Out: RUE","links":["1a15a054.b1755"],"x":1355,"y":880,"wires":[]},{"id":"1a15a054.b1755","type":"link in","z":"567f5928.9e5348","name":"In: RUE","links":["69dff742.121018","b84045d6.754638","7c2e93e6.5b495c","c3514d6e.a278b"],"x":275,"y":300,"wires":[["2239455c.90003a","6fc8ed6e.130754"]]},{"id":"2239455c.90003a","type":"switch","z":"567f5928.9e5348","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/start","vt":"str"},{"t":"eq","v":"/mylisteners","vt":"str"},{"t":"eq","v":"/help","vt":"str"},{"t":"istype","v":"json","vt":"json"},{"t":"eq","v":"/cancel","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":410,"y":300,"wires":[["fd288ce5.39e1b"],["f7efc3a1.a91e8"],["b2b55b17.63c598"],["d5d0450c.9a4e98"],["738ad1f8.8473a"],["eaba97f7.ca4838"]]},{"id":"6fc8ed6e.130754","type":"debug","z":"567f5928.9e5348","name":"RUE Input node","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":420,"y":200,"wires":[]},{"id":"1fb62fb9.00f76","type":"link in","z":"b55771d9.67f4","name":"In: BroadCast Message","links":["8d77f7f5.675b28","ba6c4e9.93933b","f22c51a0.88c27","fb2b7b5f.0358f8","7bca103c.df0a9"],"x":115,"y":360,"wires":[["4cc41c89.bb2404"]]},{"id":"4cc41c89.bb2404","type":"node-airtable","z":"b55771d9.67f4","name":"","auth":"b0d2e4bb.b7a8d8","table":"user","tableType":"str","action":"list","filter":"","filterType":"msg","record":"","recordType":"msg","records":"","recordsType":"msg","output":"payload.users","x":280,"y":360,"wires":[["db299d10.dbe57"],[]]},{"id":"db299d10.dbe57","type":"function","z":"b55771d9.67f4","name":"Notify All Users","func":"users = msg.payload.users;\ncontent = msg.payload.content\n\nusers.forEach(function(user){\n    data = {\n        \"user\": user,\n        \"content\": content\n    }\n    node.send(data);\n});\n\nreturn;","outputs":1,"noerr":0,"x":500,"y":360,"wires":[["94369c08.22761"]]},{"id":"94369c08.22761","type":"function","z":"b55771d9.67f4","name":"","func":"msg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":360,"wires":[["88820b8f.b1d858"]]},{"id":"88820b8f.b1d858","type":"function","z":"b55771d9.67f4","name":"Notify","func":"\nmsg.payload.type = \"message\";\nmsg.payload.chatId = msg.user.fields.chat_id;\nmsg.payload.content =  msg.content;\n\nif( msg.user.fields.chat_id){\n    return [msg, null]\n}else{\n    return [null, null]\n}\n","outputs":2,"noerr":0,"x":870,"y":360,"wires":[["f660dfd5.b22b6"],[]]},{"id":"f660dfd5.b22b6","type":"link out","z":"b55771d9.67f4","name":"Out: Sender Node","links":["b0cf71f1.cd165"],"x":995,"y":360,"wires":[]},{"id":"4dba256d.279dcc","type":"delay","z":"5aed2856.a67078","name":"","pauseType":"delay","timeout":"9","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":340,"wires":[["9fc37390.8626f"]]},{"id":"9fc37390.8626f","type":"link out","z":"5aed2856.a67078","name":"Out: Network List","links":["2b52883b.dedd38"],"x":535,"y":340,"wires":[]},{"id":"be7a4258.e1e98","type":"link in","z":"567f5928.9e5348","name":"In: DAO List","links":["5f49f434.01b42c"],"x":275,"y":700,"wires":[["c313631d.bff31"]]},{"id":"fd288ce5.39e1b","type":"link out","z":"567f5928.9e5348","name":"Out: Network List","links":["2b52883b.dedd38"],"x":675,"y":200,"wires":[]},{"id":"bb188364.5c78a","type":"link out","z":"567f5928.9e5348","name":"Out: Aragon Setup","links":["d15569b5.e1fd58","c3a04dd0.b29e"],"x":1095,"y":680,"wires":[]},{"id":"c3a04dd0.b29e","type":"link in","z":"727f9302.0d1ccc","name":"In: Aragon Setuo","links":["bb188364.5c78a"],"x":175,"y":300,"wires":[["c7856fe.018d79"]]},{"id":"c7856fe.018d79","type":"function","z":"727f9302.0d1ccc","name":"","func":"msg.payload.type = 'message'\nmsg.payload.content = `\nGreat! And what is the url of you Aragon DAO?\n`;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["6e01b90d.6bae28"]]},{"id":"db5721c0.cae28","type":"chatbot-telegram-receive","z":"971362fb.30577","bot":"ea6436a7.e5ef18","botProduction":"","x":410,"y":140,"wires":[[]]},{"id":"a2964ea0.448f4","type":"chatbot-telegram-receive","z":"971362fb.30577","bot":"ea6436a7.e5ef18","botProduction":"","x":150,"y":960,"wires":[["44c61b42.4780e4","80ceccec.f4a0d"]]},{"id":"83de3168.f1d27","type":"chatbot-telegram-send","z":"87a6c1e9.bb1ab","bot":"ea6436a7.e5ef18","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":410,"y":260,"wires":[]},{"id":"985956ca.d7db18","type":"chatbot-telegram-send","z":"87a6c1e9.bb1ab","bot":"ea6436a7.e5ef18","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":630,"y":380,"wires":[]},{"id":"c313631d.bff31","type":"chatbot-inline-buttons","z":"567f5928.9e5348","name":"List of DAOs","buttons":[{"type":"postback","label":"Aragon","value":"aragon","answer":"","alert":false,"style":""},{"type":"postback","label":"Moloch","value":"moloch","answer":"Comming Soon...","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"DAOstack","value":"/daostack","answer":"Comming Soon...","alert":false,"style":""},{"type":"postback","label":"Colony","value":"/colony","answer":"Comming Soon...","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"Custom","value":"/custom","answer":"Comming Soon...","alert":false,"style":""}],"message":"And what kind of DAO are you wanting information from today?","x":470,"y":700,"wires":[["f3620db.590b4f"]]},{"id":"6e01b90d.6bae28","type":"chatbot-telegram-send","z":"727f9302.0d1ccc","bot":"ea6436a7.e5ef18","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":510,"y":300,"wires":[["814579d.349f488"]]},{"id":"d70316dd.407458","type":"function","z":"727f9302.0d1ccc","name":"Aragon DAO URL","func":"cache = global.get(msg.payload.userId.toString());\ncache.daoUrl = msg.payload.content;\nglobal.set(msg.payload.userId.toString(), cache);\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":300,"wires":[["473a4d5a.f19304","7a26ea65.8af6b4"]]},{"id":"473a4d5a.f19304","type":"debug","z":"727f9302.0d1ccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":300,"wires":[]},{"id":"39d2d831.76a9c8","type":"comment","z":"727f9302.0d1ccc","name":"Save it to Airtable","info":"","x":860,"y":240,"wires":[]},{"id":"ac555e9b.9ecf7","type":"link in","z":"727f9302.0d1ccc","name":"In: Aragon App List","links":["4ab6a65d.288628","6cbc9c35.ccf174"],"x":175,"y":540,"wires":[["fc13bd10.09aac"]]},{"id":"7a26ea65.8af6b4","type":"link out","z":"727f9302.0d1ccc","name":"Out: Dao Name","links":["8ed0c539.e1e298"],"x":995,"y":340,"wires":[]},{"id":"fc13bd10.09aac","type":"chatbot-inline-buttons","z":"727f9302.0d1ccc","name":"Aragon Apps","buttons":[{"type":"postback","label":"Voting","value":"{\"d\":\"ar\", \"ac\":\"event_list\", \"ap\":\"vt\"}","answer":"","alert":false,"style":""},{"type":"postback","label":"Tokens","value":"{\"d\":\"ar\", \"ac\":\"event_list\", \"ap\":\"tk\"}","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"Finance","value":"{\"d\":\"ar\", \"ac\":\"event_list\", \"ap\":\"fi\"}","answer":"","alert":false,"style":""},{"type":"postback","label":"Agent","value":"/aragon_app_agent","answer":"Coming Soon...","alert":false,"style":""}],"message":"Great! Please choose one of the following apps","x":330,"y":540,"wires":[["df7f69f5.81f748","18cb0295.7920dd"]]},{"id":"df7f69f5.81f748","type":"link out","z":"727f9302.0d1ccc","name":"","links":["b0cf71f1.cd165"],"x":495,"y":540,"wires":[]},{"id":"ce89853d.008708","type":"link in","z":"727f9302.0d1ccc","name":"In: Aragon App Setup","links":["c8dd2d7f.8e748","b6dc7a33.7336e8","c79dbe81.23aaa"],"x":175,"y":820,"wires":[["39eec603.a77a1a","bf265a14.a1d7a8"]]},{"id":"39eec603.a77a1a","type":"debug","z":"727f9302.0d1ccc","name":"Aragon App Setup","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":250,"y":780,"wires":[]},{"id":"bf265a14.a1d7a8","type":"switch","z":"727f9302.0d1ccc","name":"","property":"payload.content.ac","propertyType":"msg","rules":[{"t":"eq","v":"event_list","vt":"str"},{"t":"eq","v":"ad","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":820,"wires":[["d4bad527.9f76c8","d5f9a207.6afa2"],["5d1d1a4c.ed9564"]]},{"id":"60979024.004e1","type":"function","z":"727f9302.0d1ccc","name":"Save event name for this user to airtabble","func":"\nmsg.payload.content = `\nYou're all set! Will send your real time updates with anything happening to this application.\n`\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":820,"wires":[["285ebcfc.07e8a4","20eb1002.f3a81","75076823.55de98"]]},{"id":"b9e1b937.3cb648","type":"function","z":"16a6ccfe.1026b3","name":"Events from abi","func":"ethers = global.get('ethers');\niface = new ethers.utils.Interface (msg.payload.abi);\n\nevents = [];\n\nfor (const [key, value] of Object.entries(iface.events)) {\n    if (events.includes(value.name) === false) {\n        events.push(value.name);\n    }\n    // events.push({\n    //     key\n    //     \"name\" : value.name\n    // })\n}\n\nmsg.payload.events = events;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":280,"wires":[[]]},{"id":"6d665578.9b5edc","type":"inject","z":"971362fb.30577","name":"Aragon voting app abi","topic":"","payload":"{\"environments\":{\"default\":{\"registry\":\"0x5f6f7e8cc7346a11ca2def8f827b7a0b612c56a1\",\"appName\":\"voting.aragonpm.eth\",\"network\":\"rpc\"},\"rinkeby\":{\"registry\":\"0x98Df287B6C145399Aaa709692c8D308357bC085D\",\"appName\":\"voting.aragonpm.eth\",\"network\":\"rinkeby\"},\"staging\":{\"registry\":\"0xfe03625ea880a8cba336f9b5ad6e15b0a3b5a939\",\"appName\":\"voting.aragonpm.eth\",\"network\":\"rinkeby\"},\"mainnet\":{\"registry\":\"0x314159265dd8dbb310642f98f50c066173c1259b\",\"appName\":\"voting.aragonpm.eth\",\"network\":\"mainnet\"},\"ropsten\":{\"registry\":\"0x6afe2cacee211ea9179992f89dc61ff25c61e923\",\"appName\":\"voting.aragonpm.eth\",\"network\":\"ropsten\"},\"rinkeby-old\":{\"registry\":\"0xfbae32d1cde62858bc45f51efc8cc4fa1415447e\",\"appName\":\"voting.aragonpm.eth\",\"network\":\"rinkeby\"}},\"roles\":[{\"name\":\"Create new votes\",\"id\":\"CREATE_VOTES_ROLE\",\"params\":[],\"bytes\":\"0xe7dcd7275292e064d090fbc5f3bd7995be23b502c1fed5cd94cfddbbdcd32bbc\"},{\"name\":\"Modify support\",\"id\":\"MODIFY_SUPPORT_ROLE\",\"params\":[\"New support\",\"Current support\"],\"bytes\":\"0xda3972983e62bdf826c4b807c4c9c2b8a941e1f83dfa76d53d6aeac11e1be650\"},{\"name\":\"Modify quorum\",\"id\":\"MODIFY_QUORUM_ROLE\",\"params\":[\"New quorum\",\"Current quorum\"],\"bytes\":\"0xad15e7261800b4bb73f1b69d3864565ffb1fd00cb93cf14fe48da8f1f2149f39\"}],\"path\":\"contracts/Voting.sol\",\"appName\":\"voting.aragonpm.eth\",\"env\":{\"registry\":\"0x98Df287B6C145399Aaa709692c8D308357bC085D\",\"appName\":\"voting.aragonpm.eth\",\"network\":\"rinkeby\"},\"appId\":\"0x9fa3927f639745e587912d4b0fea7ef9013bf93fb907d29faeab57417ba6e1d4\",\"abi\":[{\"constant\":true,\"inputs\":[],\"name\":\"hasInitialized\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_script\",\"type\":\"bytes\"}],\"name\":\"getEVMScriptExecutor\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getRecoveryVault\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"MODIFY_QUORUM_ROLE\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"MODIFY_SUPPORT_ROLE\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"token\",\"type\":\"address\"}],\"name\":\"allowRecoverability\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"appId\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getInitializationBlock\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"}],\"name\":\"transferToVault\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_sender\",\"type\":\"address\"},{\"name\":\"_role\",\"type\":\"bytes32\"},{\"name\":\"_params\",\"type\":\"uint256[]\"}],\"name\":\"canPerform\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getEVMScriptRegistry\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"voteTime\",\"outputs\":[{\"name\":\"\",\"type\":\"uint64\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"CREATE_VOTES_ROLE\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"kernel\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"minAcceptQuorumPct\",\"outputs\":[{\"name\":\"\",\"type\":\"uint64\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"isPetrified\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"votesLength\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"supportRequiredPct\",\"outputs\":[{\"name\":\"\",\"type\":\"uint64\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"token\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"PCT_BASE\",\"outputs\":[{\"name\":\"\",\"type\":\"uint64\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"voteId\",\"type\":\"uint256\"},{\"indexed\":true,\"name\":\"creator\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"metadata\",\"type\":\"string\"}],\"name\":\"StartVote\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"voteId\",\"type\":\"uint256\"},{\"indexed\":true,\"name\":\"voter\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"supports\",\"type\":\"bool\"},{\"indexed\":false,\"name\":\"stake\",\"type\":\"uint256\"}],\"name\":\"CastVote\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"voteId\",\"type\":\"uint256\"}],\"name\":\"ExecuteVote\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"supportRequiredPct\",\"type\":\"uint64\"}],\"name\":\"ChangeSupportRequired\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"minAcceptQuorumPct\",\"type\":\"uint64\"}],\"name\":\"ChangeMinQuorum\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"executor\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"script\",\"type\":\"bytes\"},{\"indexed\":false,\"name\":\"input\",\"type\":\"bytes\"},{\"indexed\":false,\"name\":\"returnData\",\"type\":\"bytes\"}],\"name\":\"ScriptResult\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"vault\",\"type\":\"address\"},{\"indexed\":true,\"name\":\"token\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"amount\",\"type\":\"uint256\"}],\"name\":\"RecoverToVault\",\"type\":\"event\"},{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"},{\"name\":\"_supportRequiredPct\",\"type\":\"uint64\"},{\"name\":\"_minAcceptQuorumPct\",\"type\":\"uint64\"},{\"name\":\"_voteTime\",\"type\":\"uint64\"}],\"name\":\"initialize\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_supportRequiredPct\",\"type\":\"uint64\"}],\"name\":\"changeSupportRequiredPct\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_minAcceptQuorumPct\",\"type\":\"uint64\"}],\"name\":\"changeMinAcceptQuorumPct\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_executionScript\",\"type\":\"bytes\"},{\"name\":\"_metadata\",\"type\":\"string\"}],\"name\":\"newVote\",\"outputs\":[{\"name\":\"voteId\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_executionScript\",\"type\":\"bytes\"},{\"name\":\"_metadata\",\"type\":\"string\"},{\"name\":\"_castVote\",\"type\":\"bool\"},{\"name\":\"_executesIfDecided\",\"type\":\"bool\"}],\"name\":\"newVote\",\"outputs\":[{\"name\":\"voteId\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_voteId\",\"type\":\"uint256\"},{\"name\":\"_supports\",\"type\":\"bool\"},{\"name\":\"_executesIfDecided\",\"type\":\"bool\"}],\"name\":\"vote\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_voteId\",\"type\":\"uint256\"}],\"name\":\"executeVote\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"isForwarder\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"pure\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_evmScript\",\"type\":\"bytes\"}],\"name\":\"forward\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_sender\",\"type\":\"address\"},{\"name\":\"\",\"type\":\"bytes\"}],\"name\":\"canForward\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_voteId\",\"type\":\"uint256\"}],\"name\":\"canExecute\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_voteId\",\"type\":\"uint256\"},{\"name\":\"_voter\",\"type\":\"address\"}],\"name\":\"canVote\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_voteId\",\"type\":\"uint256\"}],\"name\":\"getVote\",\"outputs\":[{\"name\":\"open\",\"type\":\"bool\"},{\"name\":\"executed\",\"type\":\"bool\"},{\"name\":\"startDate\",\"type\":\"uint64\"},{\"name\":\"snapshotBlock\",\"type\":\"uint64\"},{\"name\":\"supportRequired\",\"type\":\"uint64\"},{\"name\":\"minAcceptQuorum\",\"type\":\"uint64\"},{\"name\":\"yea\",\"type\":\"uint256\"},{\"name\":\"nay\",\"type\":\"uint256\"},{\"name\":\"votingPower\",\"type\":\"uint256\"},{\"name\":\"script\",\"type\":\"bytes\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_voteId\",\"type\":\"uint256\"},{\"name\":\"_voter\",\"type\":\"address\"}],\"name\":\"getVoterState\",\"outputs\":[{\"name\":\"\",\"type\":\"uint8\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"}],\"functions\":[{\"sig\":\"initialize(address,uint64,uint64,uint64)\",\"roles\":[],\"notice\":\"Initialize Voting app with `_token.symbol(): string` for governance, minimum support of `@formatPct(_supportRequiredPct)`%, minimum acceptance quorum of `@formatPct(_minAcceptQuorumPct)`%, and a voting duration of `@transformTime(_voteTime)`\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"},{\"name\":\"_supportRequiredPct\",\"type\":\"uint64\"},{\"name\":\"_minAcceptQuorumPct\",\"type\":\"uint64\"},{\"name\":\"_voteTime\",\"type\":\"uint64\"}],\"name\":\"initialize\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"changeSupportRequiredPct(uint64)\",\"roles\":[\"MODIFY_SUPPORT_ROLE\"],\"notice\":\"Change required support to `@formatPct(_supportRequiredPct)`%\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_supportRequiredPct\",\"type\":\"uint64\"}],\"name\":\"changeSupportRequiredPct\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"changeMinAcceptQuorumPct(uint64)\",\"roles\":[\"MODIFY_QUORUM_ROLE\"],\"notice\":\"Change minimum acceptance quorum to `@formatPct(_minAcceptQuorumPct)`%\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_minAcceptQuorumPct\",\"type\":\"uint64\"}],\"name\":\"changeMinAcceptQuorumPct\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"newVote(bytes,string)\",\"roles\":[\"CREATE_VOTES_ROLE\"],\"notice\":\"Create a new vote about \\\"`_metadata`\\\"\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_executionScript\",\"type\":\"bytes\"},{\"name\":\"_metadata\",\"type\":\"string\"}],\"name\":\"newVote\",\"outputs\":[{\"name\":\"voteId\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"newVote(bytes,string,bool,bool)\",\"roles\":[\"CREATE_VOTES_ROLE\"],\"notice\":\"Create a new vote about \\\"`_metadata`\\\"\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_executionScript\",\"type\":\"bytes\"},{\"name\":\"_metadata\",\"type\":\"string\"},{\"name\":\"_castVote\",\"type\":\"bool\"},{\"name\":\"_executesIfDecided\",\"type\":\"bool\"}],\"name\":\"newVote\",\"outputs\":[{\"name\":\"voteId\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"vote(uint256,bool,bool)\",\"roles\":[],\"notice\":\"Vote `_supports ? 'yes' : 'no'` in vote #`_voteId`\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_voteId\",\"type\":\"uint256\"},{\"name\":\"_supports\",\"type\":\"bool\"},{\"name\":\"_executesIfDecided\",\"type\":\"bool\"}],\"name\":\"vote\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"executeVote(uint256)\",\"roles\":[],\"notice\":\"Execute vote #`_voteId`\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_voteId\",\"type\":\"uint256\"}],\"name\":\"executeVote\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"forward(bytes)\",\"roles\":[],\"notice\":\"Creates a vote to execute the desired action, and casts a support vote if possible\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_evmScript\",\"type\":\"bytes\"}],\"name\":\"forward\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}}],\"deprecatedFunctions\":{}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"0.2","x":220,"y":400,"wires":[["7b2e20a4.3107a"]]},{"id":"7b2e20a4.3107a","type":"json","z":"971362fb.30577","name":"","property":"payload.data","action":"obj","pretty":false,"x":430,"y":400,"wires":[["7bd13adb.b6b734"]]},{"id":"7bd13adb.b6b734","type":"change","z":"971362fb.30577","name":"abi aragon app voting","rules":[{"t":"set","p":"abi_aragon_app_voting","pt":"global","to":"payload.abi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":400,"wires":[[]]},{"id":"18cb0295.7920dd","type":"debug","z":"727f9302.0d1ccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":480,"wires":[]},{"id":"5d1d1a4c.ed9564","type":"switch","z":"727f9302.0d1ccc","name":"","property":"payload.content.en","propertyType":"msg","rules":[{"t":"eq","v":"all","vt":"str"},{"t":"eq","v":"done","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":860,"wires":[["60979024.004e1","5dedcc2c.f3b574","ac99a1a7.d7d9b"],["60979024.004e1","ac99a1a7.d7d9b"],["5dedcc2c.f3b574"]]},{"id":"285ebcfc.07e8a4","type":"link out","z":"727f9302.0d1ccc","name":"","links":["b0cf71f1.cd165"],"x":1015,"y":780,"wires":[]},{"id":"fd2581f6.263cb","type":"chatbot-inline-buttons","z":"727f9302.0d1ccc","name":"More Apps","buttons":[{"type":"postback","label":"Yes","value":"/yes","answer":"Coming Soon...","alert":false,"style":""},{"type":"postback","label":"No","value":"/no","answer":"","alert":false,"style":""}],"message":"Would you like to add another app for notifications?","x":1310,"y":820,"wires":[["6bdf316d.4d92a"]]},{"id":"6bdf316d.4d92a","type":"chatbot-telegram-send","z":"727f9302.0d1ccc","bot":"ea6436a7.e5ef18","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":1510,"y":820,"wires":[["319967bc.562208","c982266d.f56788"]]},{"id":"319967bc.562208","type":"switch","z":"727f9302.0d1ccc","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/yes","vt":"str"},{"t":"eq","v":"/no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1710,"y":820,"wires":[["4ab6a65d.288628"],["86b8a024.05f58"]]},{"id":"4ab6a65d.288628","type":"link out","z":"727f9302.0d1ccc","name":"Out: Aragon App List","links":["ac555e9b.9ecf7"],"x":1815,"y":800,"wires":[]},{"id":"20eb1002.f3a81","type":"delay","z":"727f9302.0d1ccc","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1130,"y":820,"wires":[["fd2581f6.263cb"]]},{"id":"86b8a024.05f58","type":"function","z":"727f9302.0d1ccc","name":"","func":"msg.payload.content = `\nGreat! you are all set. If you want to add any other DAO feel free to send /start command at any time!\n`\nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":840,"wires":[["d846ef9d.111f8"]]},{"id":"d846ef9d.111f8","type":"link out","z":"727f9302.0d1ccc","name":"","links":["b0cf71f1.cd165"],"x":1955,"y":840,"wires":[]},{"id":"a455ae49.a371b","type":"comment","z":"4e92282e.32ef58","name":"Get all address and add them to listener","info":"","x":300,"y":220,"wires":[]},{"id":"f34af560.5fc198","type":"inject","z":"4e92282e.32ef58","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"1","x":170,"y":340,"wires":[["757cc114.2eb2a"]]},{"id":"91f73795.436888","type":"switch","z":"4e92282e.32ef58","name":"","property":"records","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":340,"wires":[[],["d79d53f3.3680e"]]},{"id":"d0fe4a7d.b168c8","type":"change","z":"4e92282e.32ef58","name":"","rules":[{"t":"set","p":"payload.address","pt":"msg","to":"payload.fields.contract_address","tot":"msg"},{"t":"set","p":"payload.network","pt":"msg","to":"payload.fields.network","tot":"msg"},{"t":"set","p":"payload.eventName","pt":"msg","to":"payload.fields.event","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":920,"wires":[["3ea61c62.70e7a4","2815fbfb.3bebb4"]]},{"id":"d79d53f3.3680e","type":"array-loop","z":"4e92282e.32ef58","name":"","key":"123","keyType":"msg","reset":false,"resetValue":"value-null","array":"records","arrayType":"msg","x":770,"y":340,"wires":[[],["e15c49df.557c48"]]},{"id":"853a5216.d9165","type":"debug","z":"4e92282e.32ef58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":240,"wires":[]},{"id":"757cc114.2eb2a","type":"node-airtable","z":"4e92282e.32ef58","name":"Airtable Confing","auth":"b0d2e4bb.b7a8d8","table":"listener","tableType":"str","action":"list","filter":"","filterType":"msg","record":"payload.id","recordType":"msg","records":"","recordsType":"msg","output":"records","x":380,"y":340,"wires":[["91f73795.436888"],[]]},{"id":"e66675df.46c928","type":"function","z":"4e92282e.32ef58","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":400,"wires":[["d79d53f3.3680e","5fd3d1c1.58776"]]},{"id":"e15c49df.557c48","type":"delay","z":"4e92282e.32ef58","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":400,"wires":[["e66675df.46c928"]]},{"id":"8427aceb.38831","type":"debug","z":"4e92282e.32ef58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":280,"wires":[]},{"id":"2ff54079.374a","type":"debug","z":"4e92282e.32ef58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":700,"wires":[]},{"id":"c2130bdf.a578a8","type":"comment","z":"4e92282e.32ef58","name":"Get abi from airtable","info":"","x":390,"y":780,"wires":[]},{"id":"e8b61523.1b42e8","type":"node-airtable","z":"4e92282e.32ef58","name":"Get abi","auth":"b0d2e4bb.b7a8d8","table":"abi","tableType":"str","action":"get","filter":"","filterType":"msg","record":"payload.fields.abi[0]","recordType":"msg","records":"","recordsType":"msg","output":"payload.abi","x":340,"y":740,"wires":[["f553a777.e9d5f8","2ff54079.374a"],[]]},{"id":"3ea61c62.70e7a4","type":"debug","z":"4e92282e.32ef58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":980,"wires":[]},{"id":"f553a777.e9d5f8","type":"json","z":"4e92282e.32ef58","name":"","property":"payload.abi.fields.abi","action":"obj","pretty":false,"x":510,"y":760,"wires":[["680a9672.4abc48"]]},{"id":"680a9672.4abc48","type":"debug","z":"4e92282e.32ef58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":780,"wires":[]},{"id":"5fd3d1c1.58776","type":"link out","z":"4e92282e.32ef58","name":"","links":["72b5fde4.ad92b4"],"x":1015,"y":400,"wires":[]},{"id":"72b5fde4.ad92b4","type":"link in","z":"4e92282e.32ef58","name":"In: Contract Listener","links":["5fd3d1c1.58776","1461487c.89e998","39583646.e31a1a"],"x":180,"y":920,"wires":[["a78383f2.c188f"]]},{"id":"7259ccc.f732434","type":"function","z":"c2c75ab1.5ce928","name":"Contract Event Listener","func":"ethers = global.get('ethers');\nlet provider = ethers.getDefaultProvider(msg.payload.network);\nlet utils = ethers.utils;\n\nvar ContractAddress = msg.payload.address;\n\nlet abi = msg.payload.abi\n\nlet contract = new ethers.Contract(ContractAddress, abi, provider);\n\n// contract.on('CastVote', (event) => {\n//     msg.payload.CastVote = event;\n//     node.send(msg);\n// });\n\n// contract.on('CastVote', (parm1 , address, bool, uint256, event) => {\n//     msg.payload.CastVote = event;\n//     msg.payload.parm1 = parm1;\n//     msg.payload.address = address;\n//     msg.payload.bool = bool;\n//     msg.payload.uint256 = uint256;\n//     node.send(msg);\n// });\n\n// contract.on('CastVote', (parm1 , address, bool, uint256, event) => {\n//     msg.payload.CastVote = event;\n//     msg.payload.parm1 = parm1;\n//     msg.payload.address = address;\n//     msg.payload.bool = bool;\n//     msg.payload.uint256 = uint256;\n//     node.send(msg);\n// });\n\nif(msg.payload.eventName === undefined || msg.payload.eventName === 'all'){\n        contract.on({\n                address: msg.payload.address,\n            }, (...args) => {\n        msg.payload.event = args;\n        node.send(msg);\n    });\n}else {\n    contract.on(msg.payload.eventName, (...args) => {\n        msg.payload.event = args;\n        node.send(msg);\n    });\n}\n\n\n\n// contract.on('StartVote', (event) => {\n//     msg.payload.StartVote = event;\n//     node.send(msg);\n// });\n\n// contract.on('ExecuteVote', (event) => {\n//     msg.payload.ExecuteVote = event;\n//     node.send(msg);\n// });\n\n// contract.on(filter1, (event) => {\n//     msg.payload.contractEvent = event;\n//     node.send(msg);\n// });","outputs":1,"noerr":0,"x":390,"y":280,"wires":[[]]},{"id":"2815fbfb.3bebb4","type":"subflow:c2c75ab1.5ce928","z":"4e92282e.32ef58","name":"","env":[],"x":870,"y":920,"wires":[["7f351798.66df98","76e91f84.c4a8"]]},{"id":"7f351798.66df98","type":"debug","z":"4e92282e.32ef58","name":"Contract Event","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":920,"y":860,"wires":[]},{"id":"75076823.55de98","type":"debug","z":"727f9302.0d1ccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":780,"wires":[]},{"id":"29ffff6c.daedf","type":"function","z":"727f9302.0d1ccc","name":"Voting app events","func":"\nevents = [];\nlet index = 1;\nvalue = `\"{\"ca:\"${msg.payload.contractAddress},\"en\":}\"`\nmsg.payload.events.forEach(function(event){\n   button = {\n\t\t\"type\": \"postback\",\n\t\t\"label\": event.key,\n\t\t\"value\": `/aragon_app_event_voting${event.name}`,\n\t\t\"answer\": \"Commeing Soon...\",\n\t\t\"alert\": false,\n\t\t\"style\": \"\"\n\t}\n\tevents.push(button);\n\tif(index % 3 === 0){\n\t    events.push({\n\t        \"type\": \"newline\"\n\t    });\n\t}\n\tindex++;\n});\n\nevents.push({\n\t        \"type\": \"newline\"\n});\n\nevents.push(button = {\n\t\t\"type\": \"postback\",\n\t\t\"label\": \"All Activity\",\n\t\t\"value\": `/aragon_app_event_voting_all`,\n\t\t\"alert\": false,\n\t\t\"style\": \"\"\n\t});\nevents.push(button = {\n\t\"type\": \"postback\",\n\t\"label\": \"Done\",\n\t\"value\": `/aragon_app_event_voting_done`,\n\t\"alert\": false,\n\t\"style\": \"\"\n});\n\nmsg.payload.type = \"inline-buttons\";\nmsg.payload.content = \"Great! Please choose events\";\nmsg.payload.buttons = events;\n\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":520,"wires":[[]]},{"id":"d5d0450c.9a4e98","type":"json","z":"567f5928.9e5348","name":"","property":"payload.content","action":"obj","pretty":false,"x":570,"y":320,"wires":[["a83a0a15.e128a8"]]},{"id":"a83a0a15.e128a8","type":"switch","z":"567f5928.9e5348","name":"","property":"payload.content.d","propertyType":"msg","rules":[{"t":"eq","v":"ar","vt":"str"},{"t":"eq","v":"mo","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":320,"wires":[["b6dc7a33.7336e8"],["7fc48a31.871de4"]]},{"id":"b6dc7a33.7336e8","type":"link out","z":"567f5928.9e5348","name":"Out: Aragon App Setup","links":["ce89853d.008708"],"x":855,"y":320,"wires":[]},{"id":"d4bad527.9f76c8","type":"switch","z":"727f9302.0d1ccc","name":"","property":"payload.content.ap","propertyType":"msg","rules":[{"t":"eq","v":"vt","vt":"str"},{"t":"eq","v":"fi","vt":"str"},{"t":"eq","v":"tk","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":780,"wires":[["61bbab81.9174e4"],["7a5eb750.8aad78"],["5e34648a.8ef2fc"]]},{"id":"15a2c3c2.5e2bcc","type":"node-airtable","z":"727f9302.0d1ccc","name":"Airtable Confing","auth":"b0d2e4bb.b7a8d8","table":"abi","tableType":"str","action":"list","filter":"","filterType":"msg","record":"payload.record","recordType":"msg","records":"","recordsType":"msg","output":"payload.result","x":440,"y":1100,"wires":[["b671831d.dc577"],[]]},{"id":"3228641.e174c9c","type":"inject","z":"727f9302.0d1ccc","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1100,"wires":[["15a2c3c2.5e2bcc"]]},{"id":"b671831d.dc577","type":"debug","z":"727f9302.0d1ccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":1100,"wires":[]},{"id":"5dedcc2c.f3b574","type":"function","z":"727f9302.0d1ccc","name":"","func":"// msg.payload.contract_address = flow.get(msg.payload.user.fields.user_id);\n// msg.payload.event_name = msg.payload.content.en;\n// msg.payload.dao = msg.payload.content.d;\n// msg.payload.app = msg.payload.content.ap;\nlet abiRef;\nappName = '';\nif(msg.payload.content.ap === 'vt'){\n    abiRef = \"abi_aragon_app_voting\";\n    appName = 'Voting';\n}else if(msg.payload.content.ap === 'fi'){\n    abiRef = \"abi_aragon_app_finance\";\n    appName = 'Finance';\n}else if(msg.payload.content.ap === 'tk'){\n    abiRef = \"abi_aragon_app_token\";\n    appName = 'Token';\n}\ncache = global.get(msg.payload.user.fields.user_id);\n\nmsg.payload.record = {\n    \"user_id\": msg.payload.user.fields.user_id,\n    \"linked_user\": [msg.payload.user.id],\n    \"contract_address\": cache.contractAddress,\n    \"network\": cache.network,\n    \"event\" : msg.payload.content.en,\n    \"abi_ref\": abiRef,\n    \"app_name\": appName,\n    \"dao_name\": cache.daoName,\n    \"dao_url\" : cache.daoUrl,\n    \"dao_type\":\"Aragon\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":880,"wires":[["eb749472.29ae48"]]},{"id":"eb749472.29ae48","type":"node-airtable","z":"727f9302.0d1ccc","name":"Add listener to airtable","auth":"b0d2e4bb.b7a8d8","table":"listener","tableType":"str","action":"post","filter":"","filterType":"msg","record":"payload.record","recordType":"msg","records":"","recordsType":"msg","output":"payload.result","x":880,"y":880,"wires":[["309f93ea.2cab1c"],[]]},{"id":"309f93ea.2cab1c","type":"change","z":"727f9302.0d1ccc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.result","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":880,"wires":[["1461487c.89e998"]]},{"id":"1461487c.89e998","type":"link out","z":"727f9302.0d1ccc","name":"","links":["72b5fde4.ad92b4"],"x":1255,"y":880,"wires":[]},{"id":"76e91f84.c4a8","type":"chatbot-conversation","z":"4e92282e.32ef58","name":"","botDevelopment":"ea6436a7.e5ef18","botProduction":"","chatId":"111","userId":"","transport":"telegram","store":"","x":1150,"y":920,"wires":[["8c7032ca.fde33"]]},{"id":"60ae06e1.748258","type":"link in","z":"727f9302.0d1ccc","name":"","links":["61bbab81.9174e4"],"x":195,"y":1340,"wires":[["6dad07cb.240c18"]]},{"id":"6dad07cb.240c18","type":"function","z":"727f9302.0d1ccc","name":"","func":"msg.payload.content = `\nGreat! Can you give me the contract for the voting app?\n`\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1340,"wires":[["6d8e7542.eda2fc"]]},{"id":"6d8e7542.eda2fc","type":"chatbot-telegram-send","z":"727f9302.0d1ccc","bot":"ea6436a7.e5ef18","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":570,"y":1340,"wires":[["7bfe5e5.a9974a"]]},{"id":"934ce044.51ef5","type":"function","z":"727f9302.0d1ccc","name":"Aragon app address","func":"cache = global.get(msg.payload.userId.toString());\ncache.contractAddress = msg.payload.content;\nglobal.set(msg.payload.userId.toString(), cache);\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":1580,"wires":[["75171f01.40ca1"]]},{"id":"99e171f5.875db","type":"subflow:16a6ccfe.1026b3","z":"727f9302.0d1ccc","name":"","env":[],"x":1510,"y":1980,"wires":[["7fb9caea.a90284"]]},{"id":"7fb9caea.a90284","type":"function","z":"727f9302.0d1ccc","name":"App Events","func":"\nevents = [];\nlet index = 1;\nappName = msg.payload.appName;\nevents.push(button = {\n\t\t\"type\": \"postback\",\n\t\t\"label\": \"All Activity\",\n\t\t\"value\": `{\"en\":\"all\", \"d\":\"ar\", \"ap\":\"${appName}\", \"ac\":\"ad\"}`,\n\t\t\"alert\": false,\n\t\t\"style\": \"\"\n\t});\n\nevents.push({\n\t\"type\": \"newline\"\n});\n\t\nmsg.payload.events.forEach(function(event){\n   button = {\n\t\t\"type\": \"postback\",\n\t\t\"label\": event,\n\t\t\"value\": `{\"en\":\"${event}\", \"d\":\"ar\", \"ap\":\"${appName}\", \"ac\":\"ad\"}`,\n\t\t\"answer\": \"Success\",\n\t\t\"alert\": false,\n\t\t\"style\": \"\"\n\t}\n\tevents.push(button);\n\tif(index % 2 === 0){\n\t    events.push({\n\t        \"type\": \"newline\"\n\t    });\n\t}\n\tindex++;\n});\n\nevents.push({\n\t        \"type\": \"newline\"\n});\n\n\nevents.push(button = {\n\t\"type\": \"postback\",\n\t\"label\": \"Done\",\n\t\"value\": `{\"en\":\"done\", \"d\":\"ar\", \"ap\":\"${appName}\", \"ac\":\"ad\"}`,\n\t\"alert\": false,\n\t\"style\": \"\"\n});\n\nmsg.payload.type = \"inline-buttons\";\nmsg.payload.content = \"Great! Please choose events\";\nmsg.payload.buttons = events;\n\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":1980,"wires":[["14c1c6f4.8bc129"]]},{"id":"14c1c6f4.8bc129","type":"link out","z":"727f9302.0d1ccc","name":"","links":["b0cf71f1.cd165"],"x":1895,"y":1980,"wires":[]},{"id":"7a5eb750.8aad78","type":"link out","z":"727f9302.0d1ccc","name":"","links":["27f25591.47238a","d76c79a3.cdf208"],"x":735,"y":740,"wires":[]},{"id":"8fef5a7f.337a58","type":"function","z":"727f9302.0d1ccc","name":"","func":"msg.payload.content = `\nGreat! Can you give me the contract for the finance app?\n`\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1580,"wires":[["a3781c87.32be7"]]},{"id":"a3781c87.32be7","type":"chatbot-telegram-send","z":"727f9302.0d1ccc","bot":"ea6436a7.e5ef18","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":570,"y":1580,"wires":[["784a2a14.8ece74"]]},{"id":"27f25591.47238a","type":"link in","z":"727f9302.0d1ccc","name":"","links":["7a5eb750.8aad78"],"x":200,"y":1580,"wires":[["8fef5a7f.337a58"]]},{"id":"6dd89e1d.058f","type":"inject","z":"971362fb.30577","name":"Aragon finance app abi","topic":"","payload":"{\"environments\":{\"default\":{\"registry\":\"0x5f6f7e8cc7346a11ca2def8f827b7a0b612c56a1\",\"appName\":\"finance.aragonpm.eth\",\"network\":\"rpc\"},\"mainnet\":{\"registry\":\"0x00000000000C2E074eC69A0dFb2997BA6C7d2e1e\",\"appName\":\"finance.aragonpm.eth\",\"network\":\"mainnet\"},\"rinkeby\":{\"registry\":\"0x98Df287B6C145399Aaa709692c8D308357bC085D\",\"appName\":\"finance.aragonpm.eth\",\"network\":\"rinkeby\"},\"ropsten\":{\"registry\":\"0x6afe2cacee211ea9179992f89dc61ff25c61e923\",\"appName\":\"finance.aragonpm.eth\",\"network\":\"ropsten\"},\"staging\":{\"registry\":\"0xfe03625ea880a8cba336f9b5ad6e15b0a3b5a939\",\"appName\":\"finance.aragonpm.eth\",\"network\":\"rinkeby\"},\"rinkeby-old\":{\"registry\":\"0xfbae32d1cde62858bc45f51efc8cc4fa1415447e\",\"appName\":\"finance.aragonpm.eth\",\"network\":\"rinkeby\"}},\"dependencies\":[{\"appName\":\"vault.aragonpm.eth\",\"version\":\"^4.0.0\",\"initParam\":\"_vault\",\"state\":\"vault\",\"requiredPermissions\":[{\"name\":\"TRANSFER_ROLE\",\"params\":\"*\"}]}],\"roles\":[{\"name\":\"Create new payments\",\"id\":\"CREATE_PAYMENTS_ROLE\",\"params\":[\"Token address\",\"Receiver address\",\"Token amount\",\"Payment interval\",\"Max repeats\",\"Initial payment time\"],\"bytes\":\"0x5de467a460382d13defdc02aacddc9c7d6605d6d4e0b8bd2f70732cae8ea17bc\"},{\"name\":\"Change period duration\",\"id\":\"CHANGE_PERIOD_ROLE\",\"params\":[\"New period duration\",\"Old period duration\"],\"bytes\":\"0xd35e458bacdd5343c2f050f574554b2f417a8ea38d6a9a65ce2225dbe8bb9a9d\"},{\"name\":\"Change budgets\",\"id\":\"CHANGE_BUDGETS_ROLE\",\"params\":[\"Token address\",\"New budget amount\",\"Old budget amount\",\"Has budget flag\"],\"bytes\":\"0xd79730e82bfef7d2f9639b9d10bf37ebb662b22ae2211502a00bdf7b2cc3a23a\"},{\"name\":\"Execute payments\",\"id\":\"EXECUTE_PAYMENTS_ROLE\",\"params\":[\"Payment ID\",\"Payment amount\"],\"bytes\":\"0x563165d3eae48bcb0a092543ca070d989169c98357e9a1b324ec5da44bab75fd\"},{\"name\":\"Manage payments\",\"id\":\"MANAGE_PAYMENTS_ROLE\",\"params\":[\"Payment ID\",\"Payment active\"],\"bytes\":\"0x30597dd103acfaef0649675953d9cb22faadab7e9d9ed57acc1c429d04b80777\"}],\"path\":\"contracts/Finance.sol\",\"appName\":\"finance.aragonpm.eth\",\"env\":{\"registry\":\"0x98Df287B6C145399Aaa709692c8D308357bC085D\",\"appName\":\"finance.aragonpm.eth\",\"network\":\"rinkeby\"},\"appId\":\"0xbf8491150dafc5dcaee5b861414dca922de09ccffa344964ae167212e8c673ae\",\"abi\":[{\"constant\":true,\"inputs\":[],\"name\":\"hasInitialized\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"CREATE_PAYMENTS_ROLE\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_script\",\"type\":\"bytes\"}],\"name\":\"getEVMScriptExecutor\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getRecoveryVault\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"CHANGE_PERIOD_ROLE\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"CHANGE_BUDGETS_ROLE\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"periodsLength\",\"outputs\":[{\"name\":\"\",\"type\":\"uint64\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"appId\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getInitializationBlock\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"EXECUTE_PAYMENTS_ROLE\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"}],\"name\":\"transferToVault\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_sender\",\"type\":\"address\"},{\"name\":\"_role\",\"type\":\"bytes32\"},{\"name\":\"_params\",\"type\":\"uint256[]\"}],\"name\":\"canPerform\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getEVMScriptRegistry\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"kernel\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"paymentsNextIndex\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"isPetrified\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"MANAGE_PAYMENTS_ROLE\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"transactionsNextIndex\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"vault\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"payable\":true,\"stateMutability\":\"payable\",\"type\":\"fallback\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"periodId\",\"type\":\"uint64\"},{\"indexed\":false,\"name\":\"periodStarts\",\"type\":\"uint64\"},{\"indexed\":false,\"name\":\"periodEnds\",\"type\":\"uint64\"}],\"name\":\"NewPeriod\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"token\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"amount\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"hasBudget\",\"type\":\"bool\"}],\"name\":\"SetBudget\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"paymentId\",\"type\":\"uint256\"},{\"indexed\":true,\"name\":\"recipient\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"maxExecutions\",\"type\":\"uint64\"},{\"indexed\":false,\"name\":\"reference\",\"type\":\"string\"}],\"name\":\"NewPayment\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"transactionId\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"incoming\",\"type\":\"bool\"},{\"indexed\":true,\"name\":\"entity\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"amount\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"reference\",\"type\":\"string\"}],\"name\":\"NewTransaction\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"paymentId\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"active\",\"type\":\"bool\"}],\"name\":\"ChangePaymentState\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"newDuration\",\"type\":\"uint64\"}],\"name\":\"ChangePeriodDuration\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"paymentId\",\"type\":\"uint256\"}],\"name\":\"PaymentFailure\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"executor\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"script\",\"type\":\"bytes\"},{\"indexed\":false,\"name\":\"input\",\"type\":\"bytes\"},{\"indexed\":false,\"name\":\"returnData\",\"type\":\"bytes\"}],\"name\":\"ScriptResult\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"vault\",\"type\":\"address\"},{\"indexed\":true,\"name\":\"token\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"amount\",\"type\":\"uint256\"}],\"name\":\"RecoverToVault\",\"type\":\"event\"},{\"constant\":false,\"inputs\":[{\"name\":\"_vault\",\"type\":\"address\"},{\"name\":\"_periodDuration\",\"type\":\"uint64\"}],\"name\":\"initialize\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"},{\"name\":\"_reference\",\"type\":\"string\"}],\"name\":\"deposit\",\"outputs\":[],\"payable\":true,\"stateMutability\":\"payable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"},{\"name\":\"_receiver\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"},{\"name\":\"_reference\",\"type\":\"string\"}],\"name\":\"newImmediatePayment\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"},{\"name\":\"_receiver\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"},{\"name\":\"_initialPaymentTime\",\"type\":\"uint64\"},{\"name\":\"_interval\",\"type\":\"uint64\"},{\"name\":\"_maxExecutions\",\"type\":\"uint64\"},{\"name\":\"_reference\",\"type\":\"string\"}],\"name\":\"newScheduledPayment\",\"outputs\":[{\"name\":\"paymentId\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_periodDuration\",\"type\":\"uint64\"}],\"name\":\"setPeriodDuration\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"}],\"name\":\"setBudget\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"}],\"name\":\"removeBudget\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_paymentId\",\"type\":\"uint256\"}],\"name\":\"executePayment\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_paymentId\",\"type\":\"uint256\"}],\"name\":\"receiverExecutePayment\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_paymentId\",\"type\":\"uint256\"},{\"name\":\"_active\",\"type\":\"bool\"}],\"name\":\"setPaymentStatus\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"}],\"name\":\"recoverToVault\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_maxTransitions\",\"type\":\"uint64\"}],\"name\":\"tryTransitionAccountingPeriod\",\"outputs\":[{\"name\":\"success\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"allowRecoverability\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_paymentId\",\"type\":\"uint256\"}],\"name\":\"getPayment\",\"outputs\":[{\"name\":\"token\",\"type\":\"address\"},{\"name\":\"receiver\",\"type\":\"address\"},{\"name\":\"amount\",\"type\":\"uint256\"},{\"name\":\"initialPaymentTime\",\"type\":\"uint64\"},{\"name\":\"interval\",\"type\":\"uint64\"},{\"name\":\"maxExecutions\",\"type\":\"uint64\"},{\"name\":\"inactive\",\"type\":\"bool\"},{\"name\":\"executions\",\"type\":\"uint64\"},{\"name\":\"createdBy\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_transactionId\",\"type\":\"uint256\"}],\"name\":\"getTransaction\",\"outputs\":[{\"name\":\"periodId\",\"type\":\"uint64\"},{\"name\":\"amount\",\"type\":\"uint256\"},{\"name\":\"paymentId\",\"type\":\"uint256\"},{\"name\":\"paymentExecutionNumber\",\"type\":\"uint64\"},{\"name\":\"token\",\"type\":\"address\"},{\"name\":\"entity\",\"type\":\"address\"},{\"name\":\"isIncoming\",\"type\":\"bool\"},{\"name\":\"date\",\"type\":\"uint64\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_periodId\",\"type\":\"uint64\"}],\"name\":\"getPeriod\",\"outputs\":[{\"name\":\"isCurrent\",\"type\":\"bool\"},{\"name\":\"startTime\",\"type\":\"uint64\"},{\"name\":\"endTime\",\"type\":\"uint64\"},{\"name\":\"firstTransactionId\",\"type\":\"uint256\"},{\"name\":\"lastTransactionId\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_periodId\",\"type\":\"uint64\"},{\"name\":\"_token\",\"type\":\"address\"}],\"name\":\"getPeriodTokenStatement\",\"outputs\":[{\"name\":\"expenses\",\"type\":\"uint256\"},{\"name\":\"income\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"currentPeriodId\",\"outputs\":[{\"name\":\"\",\"type\":\"uint64\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getPeriodDuration\",\"outputs\":[{\"name\":\"\",\"type\":\"uint64\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"}],\"name\":\"getBudget\",\"outputs\":[{\"name\":\"budget\",\"type\":\"uint256\"},{\"name\":\"hasBudget\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"}],\"name\":\"getRemainingBudget\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"}],\"name\":\"canMakePayment\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_paymentId\",\"type\":\"uint256\"}],\"name\":\"nextPaymentTime\",\"outputs\":[{\"name\":\"\",\"type\":\"uint64\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"}],\"functions\":[{\"sig\":\"fallback\",\"roles\":[],\"notice\":\"Deposit ETH to the Vault, to avoid locking them in this Finance app forever\"},{\"sig\":\"initialize(address,uint64)\",\"roles\":[],\"notice\":\"Initialize Finance app for Vault at `_vault` with period length of `@transformTime(_periodDuration)`\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_vault\",\"type\":\"address\"},{\"name\":\"_periodDuration\",\"type\":\"uint64\"}],\"name\":\"initialize\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"deposit(address,uint256,string)\",\"roles\":[],\"notice\":\"Deposit `@tokenAmount(_token, _amount)`\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"},{\"name\":\"_reference\",\"type\":\"string\"}],\"name\":\"deposit\",\"outputs\":[],\"payable\":true,\"stateMutability\":\"payable\",\"type\":\"function\"}},{\"sig\":\"newImmediatePayment(address,address,uint256,string)\",\"roles\":[\"CREATE_PAYMENTS_ROLE\"],\"notice\":\"Create a new payment of `@tokenAmount(_token, _amount)` to `_receiver` for '`_reference`'\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"},{\"name\":\"_receiver\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"},{\"name\":\"_reference\",\"type\":\"string\"}],\"name\":\"newImmediatePayment\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"newScheduledPayment(address,address,uint256,uint64,uint64,uint64,string)\",\"roles\":[\"CREATE_PAYMENTS_ROLE\"],\"notice\":\"Create a new payment of `@tokenAmount(_token, _amount)` to `_receiver` for `_reference`, executing `_maxExecutions` times at intervals of `@transformTime(_interval)`\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"},{\"name\":\"_receiver\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"},{\"name\":\"_initialPaymentTime\",\"type\":\"uint64\"},{\"name\":\"_interval\",\"type\":\"uint64\"},{\"name\":\"_maxExecutions\",\"type\":\"uint64\"},{\"name\":\"_reference\",\"type\":\"string\"}],\"name\":\"newScheduledPayment\",\"outputs\":[{\"name\":\"paymentId\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"setPeriodDuration(uint64)\",\"roles\":[\"CHANGE_PERIOD_ROLE\"],\"notice\":\"Change period duration to `@transformTime(_periodDuration)`, effective for next accounting period\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_periodDuration\",\"type\":\"uint64\"}],\"name\":\"setPeriodDuration\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"setBudget(address,uint256)\",\"roles\":[\"CHANGE_BUDGETS_ROLE\"],\"notice\":\"Set budget for `_token.symbol(): string` to `@tokenAmount(_token, _amount, false)`, effective immediately\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"}],\"name\":\"setBudget\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"removeBudget(address)\",\"roles\":[\"CHANGE_BUDGETS_ROLE\"],\"notice\":\"Remove spending limit for `_token.symbol(): string`, effective immediately\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"}],\"name\":\"removeBudget\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"executePayment(uint256)\",\"roles\":[\"EXECUTE_PAYMENTS_ROLE\"],\"notice\":\"Execute pending payment #`_paymentId`\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_paymentId\",\"type\":\"uint256\"}],\"name\":\"executePayment\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"receiverExecutePayment(uint256)\",\"roles\":[],\"notice\":\"Execute pending payment #`_paymentId`\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_paymentId\",\"type\":\"uint256\"}],\"name\":\"receiverExecutePayment\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"setPaymentStatus(uint256,bool)\",\"roles\":[\"MANAGE_PAYMENTS_ROLE\"],\"notice\":\"`_active ? 'Activate' : 'Disable'` payment #`_paymentId`\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_paymentId\",\"type\":\"uint256\"},{\"name\":\"_active\",\"type\":\"bool\"}],\"name\":\"setPaymentStatus\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"recoverToVault(address)\",\"roles\":[],\"notice\":\"Send tokens held in this contract to the Vault\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"}],\"name\":\"recoverToVault\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"tryTransitionAccountingPeriod(uint64)\",\"roles\":[],\"notice\":\"Transition accounting period if needed\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_maxTransitions\",\"type\":\"uint64\"}],\"name\":\"tryTransitionAccountingPeriod\",\"outputs\":[{\"name\":\"success\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}}],\"deprecatedFunctions\":{\"1.0.0\":[{\"sig\":\"newPayment(address,address,uint256,uint64,uint64,uint64,string)\",\"roles\":[\"CREATE_PAYMENTS_ROLE\"],\"notice\":\"Create a new payment of `@tokenAmount(_token, _amount)` to `_receiver``_maxRepeats > 0 ? ', executing ' + _maxRepeats + ' times at intervals of ' + @transformTime(_interval) : ''`, for '`_reference`'\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"},{\"name\":\"_receiver\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"},{\"name\":\"_initialPaymentTime\",\"type\":\"uint64\"},{\"name\":\"_interval\",\"type\":\"uint64\"},{\"name\":\"_maxRepeats\",\"type\":\"uint64\"},{\"name\":\"_reference\",\"type\":\"string\"}],\"name\":\"newPayment\",\"outputs\":[{\"name\":\"paymentId\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}}]}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"0.2","x":230,"y":480,"wires":[["710945c7.792e1c"]]},{"id":"710945c7.792e1c","type":"json","z":"971362fb.30577","name":"","property":"payload.data","action":"obj","pretty":false,"x":430,"y":480,"wires":[["6232fefe.6423a"]]},{"id":"6232fefe.6423a","type":"change","z":"971362fb.30577","name":"abi aragon app finance","rules":[{"t":"set","p":"abi_aragon_app_finance","pt":"global","to":"payload.abi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":480,"wires":[[]]},{"id":"a78383f2.c188f","type":"function","z":"4e92282e.32ef58","name":"","func":"abiRef = msg.payload.fields.abi_ref;\nmsg.payload.abi = global.get(abiRef);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":920,"wires":[["d0fe4a7d.b168c8"]]},{"id":"9f53f7ad.a5a988","type":"inject","z":"971362fb.30577","name":"Aragon token app abi","topic":"","payload":"{\"environments\":{\"default\":{\"registry\":\"0x5f6f7e8cc7346a11ca2def8f827b7a0b612c56a1\",\"appName\":\"token-manager.aragonpm.eth\",\"network\":\"rpc\"},\"rinkeby\":{\"registry\":\"0x98Df287B6C145399Aaa709692c8D308357bC085D\",\"appName\":\"token-manager.aragonpm.eth\",\"network\":\"rinkeby\"},\"staging\":{\"registry\":\"0xfe03625ea880a8cba336f9b5ad6e15b0a3b5a939\",\"appName\":\"token-manager.aragonpm.eth\",\"network\":\"rinkeby\"},\"mainnet\":{\"registry\":\"0x314159265dd8dbb310642f98f50c066173c1259b\",\"appName\":\"token-manager.aragonpm.eth\",\"network\":\"mainnet\"},\"ropsten\":{\"registry\":\"0x6afe2cacee211ea9179992f89dc61ff25c61e923\",\"appName\":\"token-manager.aragonpm.eth\",\"network\":\"ropsten\"},\"rinkeby-old\":{\"registry\":\"0xfbae32d1cde62858bc45f51efc8cc4fa1415447e\",\"appName\":\"token-manager.aragonpm.eth\",\"network\":\"rinkeby\"}},\"roles\":[{\"name\":\"Mint tokens\",\"id\":\"MINT_ROLE\",\"params\":[\"Receiver\",\"Token amount\"],\"bytes\":\"0x154c00819833dac601ee5ddded6fda79d9d8b506b911b3dbd54cdb95fe6c3686\"},{\"name\":\"Issue tokens\",\"id\":\"ISSUE_ROLE\",\"params\":[\"Token amount\"],\"bytes\":\"0x2406f1e99f79cea012fb88c5c36566feaeefee0f4b98d3a376b49310222b53c4\"},{\"name\":\"Assign tokens\",\"id\":\"ASSIGN_ROLE\",\"params\":[\"Receiver\",\"Token amount\"],\"bytes\":\"0xf5a08927c847d7a29dc35e105208dbde5ce951392105d712761cc5d17440e2ff\"},{\"name\":\"Revoke vesting\",\"id\":\"REVOKE_VESTINGS_ROLE\",\"params\":[\"Holder\"],\"bytes\":\"0x95ffc68daedf1eb334cfcd22ee24a5eeb5a8e58aa40679f2ad247a84140f8d6e\"},{\"name\":\"Burn tokens\",\"id\":\"BURN_ROLE\",\"params\":[\"Holder\",\"Token amount\"],\"bytes\":\"0xe97b137254058bd94f28d2f3eb79e2d34074ffb488d042e3bc958e0a57d2fa22\"}],\"path\":\"contracts/TokenManager.sol\",\"appName\":\"token-manager.aragonpm.eth\",\"env\":{\"registry\":\"0x98Df287B6C145399Aaa709692c8D308357bC085D\",\"appName\":\"token-manager.aragonpm.eth\",\"network\":\"rinkeby\"},\"appId\":\"0x6b20a3010614eeebf2138ccec99f028a61c811b3b1a3343b6ff635985c75c91f\",\"abi\":[{\"constant\":true,\"inputs\":[],\"name\":\"hasInitialized\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"MAX_VESTINGS_PER_ADDRESS\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_script\",\"type\":\"bytes\"}],\"name\":\"getEVMScriptExecutor\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getRecoveryVault\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"appId\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"ISSUE_ROLE\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getInitializationBlock\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"vestingsLengths\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"}],\"name\":\"transferToVault\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_sender\",\"type\":\"address\"},{\"name\":\"_role\",\"type\":\"bytes32\"},{\"name\":\"_params\",\"type\":\"uint256[]\"}],\"name\":\"canPerform\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getEVMScriptRegistry\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"ASSIGN_ROLE\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"BURN_ROLE\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"kernel\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"isPetrified\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"MINT_ROLE\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"maxAccountTokens\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"REVOKE_VESTINGS_ROLE\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"token\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"receiver\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"vestingId\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"amount\",\"type\":\"uint256\"}],\"name\":\"NewVesting\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"receiver\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"vestingId\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"nonVestedAmount\",\"type\":\"uint256\"}],\"name\":\"RevokeVesting\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"executor\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"script\",\"type\":\"bytes\"},{\"indexed\":false,\"name\":\"input\",\"type\":\"bytes\"},{\"indexed\":false,\"name\":\"returnData\",\"type\":\"bytes\"}],\"name\":\"ScriptResult\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"vault\",\"type\":\"address\"},{\"indexed\":true,\"name\":\"token\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"amount\",\"type\":\"uint256\"}],\"name\":\"RecoverToVault\",\"type\":\"event\"},{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"},{\"name\":\"_transferable\",\"type\":\"bool\"},{\"name\":\"_maxAccountTokens\",\"type\":\"uint256\"}],\"name\":\"initialize\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_receiver\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"}],\"name\":\"mint\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_amount\",\"type\":\"uint256\"}],\"name\":\"issue\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_receiver\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"}],\"name\":\"assign\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_holder\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"}],\"name\":\"burn\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_receiver\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"},{\"name\":\"_start\",\"type\":\"uint64\"},{\"name\":\"_cliff\",\"type\":\"uint64\"},{\"name\":\"_vested\",\"type\":\"uint64\"},{\"name\":\"_revokable\",\"type\":\"bool\"}],\"name\":\"assignVested\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_holder\",\"type\":\"address\"},{\"name\":\"_vestingId\",\"type\":\"uint256\"}],\"name\":\"revokeVesting\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_from\",\"type\":\"address\"},{\"name\":\"_to\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"}],\"name\":\"onTransfer\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"\",\"type\":\"address\"},{\"name\":\"\",\"type\":\"address\"},{\"name\":\"\",\"type\":\"uint256\"}],\"name\":\"onApprove\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"proxyPayment\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":true,\"stateMutability\":\"payable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"isForwarder\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"pure\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_evmScript\",\"type\":\"bytes\"}],\"name\":\"forward\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_sender\",\"type\":\"address\"},{\"name\":\"\",\"type\":\"bytes\"}],\"name\":\"canForward\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_recipient\",\"type\":\"address\"},{\"name\":\"_vestingId\",\"type\":\"uint256\"}],\"name\":\"getVesting\",\"outputs\":[{\"name\":\"amount\",\"type\":\"uint256\"},{\"name\":\"start\",\"type\":\"uint64\"},{\"name\":\"cliff\",\"type\":\"uint64\"},{\"name\":\"vesting\",\"type\":\"uint64\"},{\"name\":\"revokable\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_holder\",\"type\":\"address\"}],\"name\":\"spendableBalanceOf\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_holder\",\"type\":\"address\"},{\"name\":\"_time\",\"type\":\"uint256\"}],\"name\":\"transferableBalance\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"}],\"name\":\"allowRecoverability\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"}],\"functions\":[{\"sig\":\"initialize(address,bool,uint256)\",\"roles\":[],\"notice\":\"Initialize Token Manager for `_token.symbol(): string`, whose tokens are `_transferable ? '' : 'not'` transferable`_maxAccountTokens > 0 ? ' and limited to a maximum of ' + @tokenAmount(_token, _maxAccountTokens, false) + ' per account' : ''`\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"},{\"name\":\"_transferable\",\"type\":\"bool\"},{\"name\":\"_maxAccountTokens\",\"type\":\"uint256\"}],\"name\":\"initialize\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"mint(address,uint256)\",\"roles\":[\"MINT_ROLE\"],\"notice\":\"Mint `@tokenAmount(self.token(): address, _amount, false)` tokens for `_receiver`\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_receiver\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"}],\"name\":\"mint\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"issue(uint256)\",\"roles\":[\"ISSUE_ROLE\"],\"notice\":\"Mint `@tokenAmount(self.token(): address, _amount, false)` tokens for the Token Manager\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_amount\",\"type\":\"uint256\"}],\"name\":\"issue\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"assign(address,uint256)\",\"roles\":[\"ASSIGN_ROLE\"],\"notice\":\"Assign `@tokenAmount(self.token(): address, _amount, false)` tokens to `_receiver` from the Token Manager's holdings\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_receiver\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"}],\"name\":\"assign\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"burn(address,uint256)\",\"roles\":[\"BURN_ROLE\"],\"notice\":\"Burn `@tokenAmount(self.token(): address, _amount, false)` tokens from `_holder`\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_holder\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"}],\"name\":\"burn\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"assignVested(address,uint256,uint64,uint64,uint64,bool)\",\"roles\":[\"ASSIGN_ROLE\"],\"notice\":\"Assign `@tokenAmount(self.token(): address, _amount, false)` tokens to `_receiver` from the Token Manager's holdings with a `_revokable : 'revokable' : ''` vesting starting at `@formatDate(_start)`, cliff at `@formatDate(_cliff)` (first portion of tokens transferable), and completed vesting at `@formatDate(_vested)` (all tokens transferable)\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_receiver\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"},{\"name\":\"_start\",\"type\":\"uint64\"},{\"name\":\"_cliff\",\"type\":\"uint64\"},{\"name\":\"_vested\",\"type\":\"uint64\"},{\"name\":\"_revokable\",\"type\":\"bool\"}],\"name\":\"assignVested\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"revokeVesting(address,uint256)\",\"roles\":[\"REVOKE_VESTINGS_ROLE\"],\"notice\":\"Revoke vesting #`_vestingId` from `_holder`, returning unvested tokens to the Token Manager\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_holder\",\"type\":\"address\"},{\"name\":\"_vestingId\",\"type\":\"uint256\"}],\"name\":\"revokeVesting\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"onTransfer(address,address,uint256)\",\"roles\":[],\"notice\":null,\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_from\",\"type\":\"address\"},{\"name\":\"_to\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"}],\"name\":\"onTransfer\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"onApprove(address,address,uint256)\",\"roles\":[],\"notice\":null,\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"\",\"type\":\"address\"},{\"name\":\"\",\"type\":\"address\"},{\"name\":\"\",\"type\":\"uint256\"}],\"name\":\"onApprove\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"proxyPayment(address)\",\"roles\":[],\"notice\":null,\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"proxyPayment\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":true,\"stateMutability\":\"payable\",\"type\":\"function\"}},{\"sig\":\"forward(bytes)\",\"roles\":[],\"notice\":\"Execute desired action as a token holder\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_evmScript\",\"type\":\"bytes\"}],\"name\":\"forward\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}}],\"deprecatedFunctions\":{\"1.0.0\":[{\"sig\":\"onTransfer(address,address,uint)\",\"roles\":[],\"notice\":null},{\"sig\":\"onApprove(address,address,uint)\",\"roles\":[],\"notice\":null}]}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"0.2","x":220,"y":580,"wires":[["a9a8aedf.2558"]]},{"id":"a9a8aedf.2558","type":"json","z":"971362fb.30577","name":"","property":"payload.data","action":"obj","pretty":false,"x":430,"y":580,"wires":[["ffaa072.f3c9ff8"]]},{"id":"ffaa072.f3c9ff8","type":"change","z":"971362fb.30577","name":"abi aragon app token","rules":[{"t":"set","p":"abi_aragon_app_token","pt":"global","to":"payload.abi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":580,"wires":[[]]},{"id":"5e34648a.8ef2fc","type":"link out","z":"727f9302.0d1ccc","name":"","links":["e3a260c5.52449"],"x":715,"y":780,"wires":[]},{"id":"1c9eda4c.2b7df6","type":"function","z":"727f9302.0d1ccc","name":"","func":"msg.payload.content = `\nGreat! Can you give me the contract for the token app?\n`\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1780,"wires":[["eadcbca.47bb14"]]},{"id":"eadcbca.47bb14","type":"chatbot-telegram-send","z":"727f9302.0d1ccc","bot":"ea6436a7.e5ef18","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":570,"y":1780,"wires":[["69d69e91.8e93e"]]},{"id":"e3a260c5.52449","type":"link in","z":"727f9302.0d1ccc","name":"","links":["5e34648a.8ef2fc"],"x":200,"y":1780,"wires":[["1c9eda4c.2b7df6"]]},{"id":"98831f69.5141a","type":"change","z":"727f9302.0d1ccc","name":"","rules":[{"t":"set","p":"payload.abi","pt":"msg","to":"abi_aragon_app_token","tot":"global"},{"t":"set","p":"payload.appName","pt":"msg","to":"tk","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1780,"wires":[["934ce044.51ef5"]]},{"id":"2b52883b.dedd38","type":"link in","z":"567f5928.9e5348","name":"In: Network List","links":["9fc37390.8626f","fd288ce5.39e1b"],"x":275,"y":520,"wires":[["8268f74f.182e98"]]},{"id":"8268f74f.182e98","type":"chatbot-inline-buttons","z":"567f5928.9e5348","name":"List of network","buttons":[{"type":"postback","label":"Rinkeby","value":"rinkeby","answer":"","alert":false,"style":""},{"type":"postback","label":"Kovan","value":"kovan","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"Mainnet","value":"mainnet","answer":"","alert":false,"style":""}],"message":"Welcome! I am here to provide info for all your DAO needs. To begin with please choose a network.","x":480,"y":520,"wires":[["a4931ddb.6ded1"]],"info":"returns :\n- list of networks"},{"id":"565b38d9.61aa38","type":"chatbot-telegram-send","z":"3c49b0cb.137ae","bot":"ea6436a7.e5ef18","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":370,"y":280,"wires":[["2604bf69.36261"]]},{"id":"2604bf69.36261","type":"subflow:2068bd43.dcf772","z":"3c49b0cb.137ae","name":"","env":[],"x":590,"y":280,"wires":[[],[]]},{"id":"65a6cfa.0a6f63","type":"function","z":"971362fb.30577","name":"User Cache","func":"msg.payload.userId = msg.payload.userId.toString();\ncache = global.get(msg.payload.userId);\nif(cache === undefined){\n    cache = {};\n    global.set(msg.payload.userId, cache);\n}\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":960,"wires":[["6f716f8.241669"]]},{"id":"cb4ae745.365d98","type":"function","z":"567f5928.9e5348","name":"Set network","func":"cache = global.get(msg.payload.userId.toString());\ncache.network = msg.payload.content;\nglobal.set(msg.payload.userId.toString(), cache);\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":540,"wires":[["5f49f434.01b42c","e5ea02a4.48e2"]]},{"id":"5f49f434.01b42c","type":"link out","z":"567f5928.9e5348","name":"","links":["be7a4258.e1e98"],"x":1375,"y":540,"wires":[]},{"id":"61bbab81.9174e4","type":"link out","z":"727f9302.0d1ccc","name":"","links":["60ae06e1.748258","ee8ca754.6589b8","6ffc2d9f.717064"],"x":755,"y":700,"wires":[]},{"id":"eaba97f7.ca4838","type":"function","z":"567f5928.9e5348","name":"","func":"msg.payload.content = 'Coming soon...';\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":360,"wires":[["ae4a34f2.cef9f8"]]},{"id":"ae4a34f2.cef9f8","type":"link out","z":"567f5928.9e5348","name":"","links":["b0cf71f1.cd165"],"x":675,"y":360,"wires":[]},{"id":"f7efc3a1.a91e8","type":"link out","z":"567f5928.9e5348","name":"Out: My Listeners","links":["7aec3602.4dac58"],"x":635,"y":240,"wires":[]},{"id":"7aec3602.4dac58","type":"link in","z":"567f5928.9e5348","name":"In: My Listeners","links":["f7efc3a1.a91e8"],"x":255,"y":1060,"wires":[["1bc1d521.f205ab"]]},{"id":"950287b9.49ba88","type":"node-airtable","z":"567f5928.9e5348","name":"Get listeners","auth":"b0d2e4bb.b7a8d8","table":"listener","tableType":"str","action":"list","filter":"payload.filter","filterType":"msg","record":"payload.record","recordType":"msg","records":"","recordsType":"msg","output":"payload.listeners","x":610,"y":1060,"wires":[["18ce7d46.3aa303","ceba3201.fefc2"],[]]},{"id":"1bc1d521.f205ab","type":"function","z":"567f5928.9e5348","name":"Get listeners","func":"msg.payload.filter = `({user_id} = '${msg.payload.user.fields.user_id}')`;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1060,"wires":[["950287b9.49ba88"]]},{"id":"18ce7d46.3aa303","type":"debug","z":"567f5928.9e5348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":1020,"wires":[]},{"id":"842f0326.12678","type":"function","z":"567f5928.9e5348","name":"Listeners","func":"\nbuttons = [];\nlet index = 1;\nvalue = `\"{\"ca:\"${msg.payload.contractAddress},\"en\":}\"`\nappName = msg.payload.appName;\nmsg.payload.listeners.forEach(function(listener){\n   label = `DAO(${listener.fields.dao_type}) Name(${listener.fields.dao_name}) App(${listener.fields.app_name}) Events(${listener.fields.event})`\n   button = {\n\t\t\"type\": \"postback\",\n\t\t\"label\": label,\n\t\t\"value\": `{\"ac\":\"view\", \"id\":\"${listener.id}\"}` ,\n\t\t\"answer\": \"\",\n\t\t\"alert\": false,\n\t\t\"style\": \"\"\n\t}\n\tbuttons.push(button);\n\tif(index % 1 === 0){\n\t    buttons.push({\n\t        \"type\": \"newline\"\n\t    });\n\t}\n\tindex++;\n});\n\n// buttons.push({\n// \t        \"type\": \"newline\"\n// });\n\n// buttons.push(button = {\n// \t\t\"type\": \"postback\",\n// \t\t\"label\": \"All Activity\",\n// \t\t\"value\": `{\"en\":\"all\", \"d\":\"ar\", \"ap\":\"${appName}\", \"ac\":\"ad\"}`,\n// \t\t\"alert\": false,\n// \t\t\"style\": \"\"\n// \t});\n// buttons.push(button = {\n// \t\"type\": \"postback\",\n// \t\"label\": \"Done\",\n// \t\"value\": `{\"en\":\"done\", \"d\":\"ar\", \"ap\":\"${appName}\", \"ac\":\"ad\"}`,\n// \t\"alert\": false,\n// \t\"style\": \"\"\n// });\n\nmsg.payload.type = \"inline-buttons\";\nmsg.payload.content = \"You are litening to these events.\";\nmsg.payload.buttons = buttons;\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":1040,"wires":[["2919ffe0.8c114"]]},{"id":"2919ffe0.8c114","type":"subflow:3c49b0cb.137ae","z":"567f5928.9e5348","name":"","env":[],"x":1210,"y":980,"wires":[["3ee8ec1d.aa3164","899630ec.3a1b4","89db82eb.74f21"]]},{"id":"3ee8ec1d.aa3164","type":"debug","z":"567f5928.9e5348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":940,"wires":[]},{"id":"899630ec.3a1b4","type":"switch","z":"567f5928.9e5348","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"istype","v":"json","vt":"json"},{"t":"eq","v":"/cancel","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1450,"y":1020,"wires":[["fb4ff177.bbf69"],["b695ac28.29748"],["b84045d6.754638"]]},{"id":"b84045d6.754638","type":"link out","z":"567f5928.9e5348","name":"","links":["1a15a054.b1755"],"x":1575,"y":1080,"wires":[]},{"id":"fb4ff177.bbf69","type":"link out","z":"567f5928.9e5348","name":"Out: Listener Details","links":["d5c1e101.c5de3"],"x":1575,"y":1000,"wires":[]},{"id":"d5c1e101.c5de3","type":"link in","z":"567f5928.9e5348","name":"In: Listener Details","links":["fb4ff177.bbf69","1f09faae.573db5"],"x":275,"y":1320,"wires":[["fad35334.3bded"]]},{"id":"fad35334.3bded","type":"json","z":"567f5928.9e5348","name":"","property":"payload.content","action":"obj","pretty":false,"x":445,"y":1320,"wires":[["6586610f.72d43"]]},{"id":"6586610f.72d43","type":"switch","z":"567f5928.9e5348","name":"","property":"payload.content.ac","propertyType":"msg","rules":[{"t":"eq","v":"view","vt":"str"},{"t":"eq","v":"delete","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":625,"y":1320,"wires":[["1a4702fa.ed0f0d"],["6e9043d8.68544c"]]},{"id":"1a4702fa.ed0f0d","type":"node-airtable","z":"567f5928.9e5348","name":"Get listener","auth":"b0d2e4bb.b7a8d8","table":"listener","tableType":"str","action":"get","filter":"payload.filter","filterType":"msg","record":"payload.content.id","recordType":"msg","records":"","recordsType":"msg","output":"payload.listener","x":805,"y":1300,"wires":[["6a6fa328.ec813c"],[]]},{"id":"6a6fa328.ec813c","type":"function","z":"567f5928.9e5348","name":"","func":"\nbuttons = [];\nlet index = 1;\nappName = msg.payload.appName;\n\nbuttons.push(button = {\n\t\t\"type\": \"postback\",\n\t\t\"label\": \"Unsubscribe\",\n\t\t\"value\": `{\"id\":\"${msg.payload.listener.id}\", \"ac\":\"delete\"}`,\n\t\t\"alert\": false,\n\t\t\"style\": \"\"\n});\n\nbuttons.push(button = {\n\t\t\"type\": \"postback\",\n\t\t\"label\": \"Done\",\n\t\t\"value\": `/done`,\n\t\t\"alert\": false,\n\t\t\"style\": \"\"\n});\n\n\nmsg.payload.type = \"inline-buttons\";\nmsg.payload.content = `\nDAO: ${msg.payload.listener.fields.dao_type}\nDAO Name: ${msg.payload.listener.fields.dao_name}\nDAO Url: ${msg.payload.listener.fields.dao_url}\nApp: ${msg.payload.listener.fields.app_name}\nApp Address: ${msg.payload.listener.fields.contract_address}\nEvent: ${msg.payload.listener.fields.event}\nNetwork: ${msg.payload.listener.fields.network}\n`;\nmsg.payload.buttons = buttons;\n\nreturn msg;","outputs":1,"noerr":0,"x":985,"y":1300,"wires":[["a6d4b724.da00c8"]]},{"id":"a6d4b724.da00c8","type":"subflow:3c49b0cb.137ae","z":"567f5928.9e5348","name":"","env":[],"x":1225,"y":1300,"wires":[["359c6e50.ee1102","5fc4aa81.c84114","d51dd1e4.b29c4"]]},{"id":"359c6e50.ee1102","type":"switch","z":"567f5928.9e5348","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"istype","v":"json","vt":"json"},{"t":"eq","v":"/done","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1485,"y":1300,"wires":[["1f09faae.573db5"],[],["7c2e93e6.5b495c"]]},{"id":"7c2e93e6.5b495c","type":"link out","z":"567f5928.9e5348","name":"","links":["1a15a054.b1755"],"x":1615,"y":1340,"wires":[]},{"id":"1f09faae.573db5","type":"link out","z":"567f5928.9e5348","name":"Out: Listener Details","links":["d5c1e101.c5de3"],"x":1615,"y":1280,"wires":[]},{"id":"e00e36dc.bb0d28","type":"node-airtable","z":"567f5928.9e5348","name":"Delete Listener","auth":"b0d2e4bb.b7a8d8","table":"listener","tableType":"str","action":"delete","filter":"payload.filter","filterType":"msg","record":"payload.content.id","recordType":"msg","records":"msg.payload.records","recordsType":"msg","output":"payload.listener","x":955,"y":1360,"wires":[["3421fc79.f7f4f4"],[]]},{"id":"3421fc79.f7f4f4","type":"function","z":"567f5928.9e5348","name":"","func":"msg.payload.content = 'Listener removed.'\nreturn msg;","outputs":1,"noerr":0,"x":1125,"y":1360,"wires":[["d35887f9.e01a08"]]},{"id":"d35887f9.e01a08","type":"link out","z":"567f5928.9e5348","name":"","links":["b0cf71f1.cd165"],"x":1230,"y":1360,"wires":[]},{"id":"5fc4aa81.c84114","type":"debug","z":"567f5928.9e5348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1265,"y":1260,"wires":[]},{"id":"6e9043d8.68544c","type":"function","z":"567f5928.9e5348","name":"","func":"msg.payload.records = [msg.payload.content.id]\nreturn msg;","outputs":1,"noerr":0,"x":785,"y":1360,"wires":[["e00e36dc.bb0d28"]]},{"id":"ceba3201.fefc2","type":"switch","z":"567f5928.9e5348","name":"","property":"msg.payload.listeners","propertyType":"msg","rules":[{"t":"istype","v":"array","vt":"array"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":1060,"wires":[["842f0326.12678"],["5c6096a9.843798"]]},{"id":"fb22cb6b.22d6a8","type":"link out","z":"567f5928.9e5348","name":"","links":["b0cf71f1.cd165"],"x":1075,"y":1100,"wires":[]},{"id":"5c6096a9.843798","type":"function","z":"567f5928.9e5348","name":"","func":"msg.payload.content = 'You are not listening to any events. Try /start'\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1100,"wires":[["fb22cb6b.22d6a8"]]},{"id":"a30ad8db.f53568","type":"switch","z":"567f5928.9e5348","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"mainnet","vt":"str"},{"t":"eq","v":"kovan","vt":"str"},{"t":"eq","v":"rinkeby","vt":"str"},{"t":"eq","v":"/cancel","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":1010,"y":540,"wires":[["cb4ae745.365d98"],["cb4ae745.365d98"],["cb4ae745.365d98"],["cff16d7c.aecee"],["8268f74f.182e98"]]},{"id":"c3514d6e.a278b","type":"link out","z":"567f5928.9e5348","name":"","links":["1a15a054.b1755"],"x":1455,"y":640,"wires":[]},{"id":"3e67864.7d7c27a","type":"change","z":"567f5928.9e5348","name":"","rules":[{"t":"set","p":"payload.content","pt":"msg","to":"/help","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":640,"wires":[["c3514d6e.a278b"]]},{"id":"26bc8501.eb3c6a","type":"switch","z":"567f5928.9e5348","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"aragon","vt":"str"},{"t":"eq","v":"moloch","vt":"str"},{"t":"eq","v":"/cancel","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":950,"y":700,"wires":[["bb188364.5c78a"],[],["769ecdee.64f104"],[]]},{"id":"b2b55b17.63c598","type":"function","z":"567f5928.9e5348","name":"","func":"msg.payload.content = 'You can ask support questions here: https://t.me/AbridgedEA'\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":260,"wires":[["c2d1a898.4bd8a8"]]},{"id":"c2d1a898.4bd8a8","type":"link out","z":"567f5928.9e5348","name":"","links":["b0cf71f1.cd165"],"x":860,"y":280,"wires":[]},{"id":"de9851e4.6f59b","type":"change","z":"567f5928.9e5348","name":"","rules":[{"t":"set","p":"payload.params.modifyMessageId","pt":"msg","to":"originalMessage.message_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":320,"wires":[[]]},{"id":"8bb97321.7220f","type":"http request","z":"94417973.813618","name":"","method":"GET","ret":"txt","paytoqs":true,"url":"https://api.telegram.org/bot{{{token}}}/deleteMessage","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":120,"wires":[["ef43913a.13532"]]},{"id":"238d9a2c.67ca96","type":"function","z":"94417973.813618","name":"","func":"msg.token = global.get('bot_token');\nmessage_id = msg.payload.message_id;\nchat_id = msg.payload.chatId;\nmsg.payload = {\n    chat_id,\n    message_id\n};\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["8bb97321.7220f","fa72768d.2d2ab8"]]},{"id":"f31685f2.6aeeb8","type":"subflow:94417973.813618","z":"567f5928.9e5348","name":"","env":[],"x":1240,"y":460,"wires":[]},{"id":"7d6bd9a1.614b38","type":"change","z":"567f5928.9e5348","name":"","rules":[{"t":"set","p":"payload.chat_id","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"payload.message_id","pt":"msg","to":"originalMessage.message_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":460,"wires":[["f31685f2.6aeeb8"]]},{"id":"e5551be9.13a658","type":"subflow:94417973.813618","z":"567f5928.9e5348","name":"","env":[],"x":1680,"y":960,"wires":[]},{"id":"89db82eb.74f21","type":"change","z":"567f5928.9e5348","name":"","rules":[{"t":"set","p":"payload.chat_id","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"payload.message_id","pt":"msg","to":"originalMessage.message_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":960,"wires":[["e5551be9.13a658"]]},{"id":"ae859d84.67e02","type":"subflow:94417973.813618","z":"567f5928.9e5348","name":"","env":[],"x":1740,"y":1240,"wires":[]},{"id":"d51dd1e4.b29c4","type":"change","z":"567f5928.9e5348","name":"","rules":[{"t":"set","p":"payload.chat_id","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"payload.message_id","pt":"msg","to":"originalMessage.message_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1240,"wires":[["ae859d84.67e02"]]},{"id":"f1cfdbb7.06ca08","type":"subflow:94417973.813618","z":"727f9302.0d1ccc","name":"","env":[],"x":580,"y":660,"wires":[]},{"id":"d5f9a207.6afa2","type":"change","z":"727f9302.0d1ccc","name":"","rules":[{"t":"set","p":"payload.chat_id","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"payload.message_id","pt":"msg","to":"originalMessage.message_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":700,"wires":[["f1cfdbb7.06ca08"]]},{"id":"ac99a1a7.d7d9b","type":"change","z":"727f9302.0d1ccc","name":"","rules":[{"t":"set","p":"payload.chat_id","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"payload.message_id","pt":"msg","to":"originalMessage.message_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":940,"wires":[["c0394b40.ad5c48"]]},{"id":"c0394b40.ad5c48","type":"subflow:94417973.813618","z":"727f9302.0d1ccc","name":"","env":[],"x":940,"y":940,"wires":[]},{"id":"c982266d.f56788","type":"change","z":"727f9302.0d1ccc","name":"","rules":[{"t":"set","p":"payload.chat_id","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"payload.message_id","pt":"msg","to":"originalMessage.message_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1660,"y":920,"wires":[["1f9325e6.ceebba"]]},{"id":"1f9325e6.ceebba","type":"subflow:94417973.813618","z":"727f9302.0d1ccc","name":"","env":[],"x":1880,"y":920,"wires":[]},{"id":"5a2771ae.3d127","type":"inject","z":"971362fb.30577","name":"Moloch V1 Abi","topic":"","payload":"[{\"constant\":true,\"inputs\":[],\"name\":\"processingReward\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"memberAddress\",\"type\":\"address\"},{\"name\":\"proposalIndex\",\"type\":\"uint256\"}],\"name\":\"getMemberProposalVote\",\"outputs\":[{\"name\":\"\",\"type\":\"uint8\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getCurrentPeriod\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"members\",\"outputs\":[{\"name\":\"delegateKey\",\"type\":\"address\"},{\"name\":\"shares\",\"type\":\"uint256\"},{\"name\":\"exists\",\"type\":\"bool\"},{\"name\":\"highestIndexYesVote\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"totalSharesRequested\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"newDelegateKey\",\"type\":\"address\"}],\"name\":\"updateDelegateKey\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"totalShares\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"name\":\"proposalQueue\",\"outputs\":[{\"name\":\"proposer\",\"type\":\"address\"},{\"name\":\"applicant\",\"type\":\"address\"},{\"name\":\"sharesRequested\",\"type\":\"uint256\"},{\"name\":\"startingPeriod\",\"type\":\"uint256\"},{\"name\":\"yesVotes\",\"type\":\"uint256\"},{\"name\":\"noVotes\",\"type\":\"uint256\"},{\"name\":\"processed\",\"type\":\"bool\"},{\"name\":\"didPass\",\"type\":\"bool\"},{\"name\":\"aborted\",\"type\":\"bool\"},{\"name\":\"tokenTribute\",\"type\":\"uint256\"},{\"name\":\"details\",\"type\":\"string\"},{\"name\":\"maxTotalSharesAtYesVote\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"memberAddressByDelegateKey\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"gracePeriodLength\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"abortWindow\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getProposalQueueLength\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"summoningTime\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"votingPeriodLength\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"sharesToBurn\",\"type\":\"uint256\"}],\"name\":\"ragequit\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"proposalDeposit\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"startingPeriod\",\"type\":\"uint256\"}],\"name\":\"hasVotingPeriodExpired\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"applicant\",\"type\":\"address\"},{\"name\":\"tokenTribute\",\"type\":\"uint256\"},{\"name\":\"sharesRequested\",\"type\":\"uint256\"},{\"name\":\"details\",\"type\":\"string\"}],\"name\":\"submitProposal\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"proposalIndex\",\"type\":\"uint256\"},{\"name\":\"uintVote\",\"type\":\"uint8\"}],\"name\":\"submitVote\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"highestIndexYesVote\",\"type\":\"uint256\"}],\"name\":\"canRagequit\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"guildBank\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"dilutionBound\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"periodDuration\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"approvedToken\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"proposalIndex\",\"type\":\"uint256\"}],\"name\":\"abort\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"proposalIndex\",\"type\":\"uint256\"}],\"name\":\"processProposal\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"inputs\":[{\"name\":\"summoner\",\"type\":\"address\"},{\"name\":\"_approvedToken\",\"type\":\"address\"},{\"name\":\"_periodDuration\",\"type\":\"uint256\"},{\"name\":\"_votingPeriodLength\",\"type\":\"uint256\"},{\"name\":\"_gracePeriodLength\",\"type\":\"uint256\"},{\"name\":\"_abortWindow\",\"type\":\"uint256\"},{\"name\":\"_proposalDeposit\",\"type\":\"uint256\"},{\"name\":\"_dilutionBound\",\"type\":\"uint256\"},{\"name\":\"_processingReward\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"constructor\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"proposalIndex\",\"type\":\"uint256\"},{\"indexed\":true,\"name\":\"delegateKey\",\"type\":\"address\"},{\"indexed\":true,\"name\":\"memberAddress\",\"type\":\"address\"},{\"indexed\":true,\"name\":\"applicant\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"tokenTribute\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"sharesRequested\",\"type\":\"uint256\"}],\"name\":\"SubmitProposal\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"proposalIndex\",\"type\":\"uint256\"},{\"indexed\":true,\"name\":\"delegateKey\",\"type\":\"address\"},{\"indexed\":true,\"name\":\"memberAddress\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"uintVote\",\"type\":\"uint8\"}],\"name\":\"SubmitVote\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"proposalIndex\",\"type\":\"uint256\"},{\"indexed\":true,\"name\":\"applicant\",\"type\":\"address\"},{\"indexed\":true,\"name\":\"memberAddress\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"tokenTribute\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"sharesRequested\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"didPass\",\"type\":\"bool\"}],\"name\":\"ProcessProposal\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"memberAddress\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"sharesToBurn\",\"type\":\"uint256\"}],\"name\":\"Ragequit\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"proposalIndex\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"applicantAddress\",\"type\":\"address\"}],\"name\":\"Abort\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"memberAddress\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"newDelegateKey\",\"type\":\"address\"}],\"name\":\"UpdateDelegateKey\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"summoner\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"shares\",\"type\":\"uint256\"}],\"name\":\"SummonComplete\",\"type\":\"event\"}]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"0.2","x":200,"y":660,"wires":[["ee38ed7f.289b"]]},{"id":"ee38ed7f.289b","type":"json","z":"971362fb.30577","name":"","property":"payload","action":"obj","pretty":false,"x":430,"y":660,"wires":[["4a9117fd.d31118"]]},{"id":"4a9117fd.d31118","type":"change","z":"971362fb.30577","name":"abi moloch v1","rules":[{"t":"set","p":"abi_moloch_v1","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":660,"wires":[[]]},{"id":"9ca6cc1e.e09f5","type":"link out","z":"567f5928.9e5348","name":"Out: Moloch v1","links":["d081d802.be7638"],"x":1115,"y":720,"wires":[]},{"id":"d081d802.be7638","type":"link in","z":"4b2ebe0c.e40a5","name":"In: Moloch v1","links":["9ca6cc1e.e09f5"],"x":195,"y":380,"wires":[["4f2b7271.b9f1ac"]]},{"id":"82bb8b21.0e0028","type":"function","z":"4b2ebe0c.e40a5","name":"Moloch Contract Address","func":"address = msg.payload.content;\nmsg.payload.contractAddress = address;\nflow.set(msg.payload.user.fields.user_id, address); // temp will find better sol\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":380,"wires":[["da4873ea.4e6ed","b0aad268.4592d"]]},{"id":"da4873ea.4e6ed","type":"debug","z":"4b2ebe0c.e40a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":380,"wires":[]},{"id":"4f2b7271.b9f1ac","type":"function","z":"4b2ebe0c.e40a5","name":"","func":"msg.payload.type = 'message'\nmsg.payload.content = `\nGreat! And what is the contract address of your Moloch DAO?\n`;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":380,"wires":[["707251a7.2856f"]]},{"id":"707251a7.2856f","type":"subflow:3c49b0cb.137ae","z":"4b2ebe0c.e40a5","name":"","env":[],"x":610,"y":380,"wires":[["82bb8b21.0e0028"]]},{"id":"48c08744.fbbdd8","type":"link in","z":"4b2ebe0c.e40a5","name":"","links":["b0aad268.4592d"],"x":195,"y":560,"wires":[["57431729.91cbf8"]]},{"id":"b0aad268.4592d","type":"link out","z":"4b2ebe0c.e40a5","name":"","links":["48c08744.fbbdd8"],"x":1115,"y":300,"wires":[]},{"id":"57431729.91cbf8","type":"change","z":"4b2ebe0c.e40a5","name":"","rules":[{"t":"set","p":"payload.abi","pt":"msg","to":"abi_moloch_v1","tot":"global"},{"t":"set","p":"payload.appName","pt":"msg","to":"vt","tot":"str"},{"t":"set","p":"payload.dao","pt":"msg","to":"mo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":560,"wires":[["d2759526.e636d8"]]},{"id":"d2759526.e636d8","type":"subflow:16a6ccfe.1026b3","z":"4b2ebe0c.e40a5","name":"","env":[],"x":650,"y":560,"wires":[["6b83cbdd.fe9324"]]},{"id":"6b83cbdd.fe9324","type":"function","z":"4b2ebe0c.e40a5","name":"App Events","func":"\nevents = [];\nlet index = 1;\nvalue = `\"{\"ca:\"${msg.payload.contractAddress},\"en\":}\"`\nappName = msg.payload.appName;\ndao = msg.payload.dao;\nmsg.payload.events.forEach(function(event){\n   button = {\n\t\t\"type\": \"postback\",\n\t\t\"label\": event,\n\t\t\"value\": `{\"en\":\"${event}\", \"d\":\"${dao}\", \"ap\":\"${appName}\", \"ac\":\"ad\"}`,\n\t\t\"answer\": \"Success\",\n\t\t\"alert\": false,\n\t\t\"style\": \"\"\n\t}\n\tevents.push(button);\n\tif(index % 2 === 0){\n\t    events.push({\n\t        \"type\": \"newline\"\n\t    });\n\t}\n\tindex++;\n});\n\nevents.push({\n\t        \"type\": \"newline\"\n});\n\nevents.push(button = {\n\t\t\"type\": \"postback\",\n\t\t\"label\": \"All Activity\",\n\t\t\"value\": `{\"en\":\"all\", \"d\":\"${dao}\", \"ap\":\"${appName}\", \"ac\":\"ad\"}`,\n\t\t\"alert\": false,\n\t\t\"style\": \"\"\n\t});\nevents.push(button = {\n\t\"type\": \"postback\",\n\t\"label\": \"Done\",\n\t\"value\": `{\"en\":\"done\", \"d\":\"${dao}\", \"ap\":\"${appName}\", \"ac\":\"ad\"}`,\n\t\"alert\": false,\n\t\"style\": \"\"\n});\n\nmsg.payload.type = \"inline-buttons\";\nmsg.payload.content = \"Great! Please choose events\";\nmsg.payload.buttons = events;\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":560,"wires":[["e7ca2b5d.7d5548"]]},{"id":"e7ca2b5d.7d5548","type":"link out","z":"4b2ebe0c.e40a5","name":"","links":["b0cf71f1.cd165"],"x":1075,"y":560,"wires":[]},{"id":"37014b9c.fc3074","type":"switch","z":"4b2ebe0c.e40a5","name":"","property":"payload.content.ac","propertyType":"msg","rules":[{"t":"eq","v":"event_list","vt":"str"},{"t":"eq","v":"ad","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":720,"wires":[[],["31dff1ea.24a3fe"]]},{"id":"31dff1ea.24a3fe","type":"switch","z":"4b2ebe0c.e40a5","name":"","property":"payload.content.en","propertyType":"msg","rules":[{"t":"eq","v":"all","vt":"str"},{"t":"eq","v":"done","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":430,"y":760,"wires":[["d6a6dba1.1a1e88","f1251d1.c6fdce","2db7da2.c33e326"],["d6a6dba1.1a1e88","2db7da2.c33e326"],["f1251d1.c6fdce"]]},{"id":"d6a6dba1.1a1e88","type":"function","z":"4b2ebe0c.e40a5","name":"Save event name for this user to airtabble","func":"\nmsg.payload.content = `\nYou're all set! Will send your real time updates with anything happening to this application.\n`\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":720,"wires":[[]]},{"id":"f1251d1.c6fdce","type":"function","z":"4b2ebe0c.e40a5","name":"","func":"// msg.payload.contract_address = flow.get(msg.payload.user.fields.user_id);\n// msg.payload.event_name = msg.payload.content.en;\n// msg.payload.dao = msg.payload.content.d;\n// msg.payload.app = msg.payload.content.ap;\nlet abiRef;\nappName = '';\nif(msg.payload.content.ap === 'vt'){\n    abiRef = \"abi_aragon_app_voting\";\n    appName = 'Voting';\n}else if(msg.payload.content.ap === 'fi'){\n    abiRef = \"abi_aragon_app_finance\";\n    appName = 'Finance';\n}else if(msg.payload.content.ap === 'tk'){\n    abiRef = \"abi_aragon_app_token\";\n    appName = 'Token';\n}\ncache = global.get(msg.payload.user.fields.user_id);\n\nmsg.payload.record = {\n    \"user_id\": msg.payload.user.fields.user_id,\n    \"linked_user\": [msg.payload.user.id],\n    \"contract_address\": flow.get(msg.payload.user.fields.user_id),\n    \"network\": cache.network,\n    \"event\" : msg.payload.content.en,\n    \"abi_ref\": abiRef,\n    \"app_name\": appName,\n    \"dao_name\": \"Aragon\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":780,"wires":[["f1362c51.145fc"]]},{"id":"f1362c51.145fc","type":"node-airtable","z":"4b2ebe0c.e40a5","name":"Add listener to airtable","auth":"b0d2e4bb.b7a8d8","table":"listener","tableType":"str","action":"post","filter":"","filterType":"msg","record":"payload.record","recordType":"msg","records":"","recordsType":"msg","output":"payload.result","x":820,"y":780,"wires":[["eb602e2a.9cf8d"],[]]},{"id":"eb602e2a.9cf8d","type":"change","z":"4b2ebe0c.e40a5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.result","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":780,"wires":[["39583646.e31a1a"]]},{"id":"39583646.e31a1a","type":"link out","z":"4b2ebe0c.e40a5","name":"","links":["72b5fde4.ad92b4"],"x":1195,"y":780,"wires":[]},{"id":"2db7da2.c33e326","type":"change","z":"4b2ebe0c.e40a5","name":"","rules":[{"t":"set","p":"payload.chat_id","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"payload.message_id","pt":"msg","to":"originalMessage.message_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":840,"wires":[["d3b145d0.907698"]]},{"id":"d3b145d0.907698","type":"subflow:94417973.813618","z":"4b2ebe0c.e40a5","name":"","env":[],"x":880,"y":840,"wires":[]},{"id":"5f730e60.332eb","type":"link in","z":"4b2ebe0c.e40a5","name":"In: Moloch V1 Event","links":["7fc48a31.871de4"],"x":160,"y":800,"wires":[[]]},{"id":"7fc48a31.871de4","type":"link out","z":"567f5928.9e5348","name":"Out: Moloch v1 event","links":["5f730e60.332eb"],"x":855,"y":360,"wires":[]},{"id":"6f716f8.241669","type":"switch","z":"971362fb.30577","name":"","property":"originalMessage.chat.type","propertyType":"msg","rules":[{"t":"eq","v":"private","vt":"str"},{"t":"eq","v":"supergroup","vt":"str"},{"t":"eq","v":"otherwise","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1050,"y":960,"wires":[["fcd3a65f.dbdf48"],["179e1ae0.c5b405"],[]]},{"id":"179e1ae0.c5b405","type":"debug","z":"971362fb.30577","name":"Supergroup","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1230,"y":960,"wires":[]},{"id":"8ed0c539.e1e298","type":"link in","z":"727f9302.0d1ccc","name":"In: Dao Name","links":["7a26ea65.8af6b4"],"x":175,"y":380,"wires":[["7af51285.24facc"]]},{"id":"7af51285.24facc","type":"function","z":"727f9302.0d1ccc","name":"","func":"msg.payload.type = 'message'\nmsg.payload.content = `\nNice! And what is the name of your Aragon DAO?\n`;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":380,"wires":[["17108dc7.533052"]]},{"id":"17108dc7.533052","type":"chatbot-telegram-send","z":"727f9302.0d1ccc","bot":"ea6436a7.e5ef18","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":510,"y":380,"wires":[["691cbfcb.e1b69"]]},{"id":"16c802f7.448e7d","type":"function","z":"727f9302.0d1ccc","name":"Aragon DAO Name","func":"cache = global.get(msg.payload.userId.toString());\ncache.daoName = msg.payload.content;\nglobal.set(msg.payload.userId.toString(), cache);\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":380,"wires":[["60e872c3.0111bc","6cbc9c35.ccf174"]]},{"id":"60e872c3.0111bc","type":"debug","z":"727f9302.0d1ccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":380,"wires":[]},{"id":"6cbc9c35.ccf174","type":"link out","z":"727f9302.0d1ccc","name":"Out: Aragon App List","links":["ac555e9b.9ecf7"],"x":1075,"y":420,"wires":[]},{"id":"3d0bedec.589192","type":"change","z":"727f9302.0d1ccc","name":"","rules":[{"t":"set","p":"payload.abi","pt":"msg","to":"abi_aragon_app_voting","tot":"global"},{"t":"set","p":"payload.appName","pt":"msg","to":"vt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1340,"wires":[["934ce044.51ef5"]]},{"id":"e5f9b81a.fdc6f8","type":"change","z":"727f9302.0d1ccc","name":"","rules":[{"t":"set","p":"payload.abi","pt":"msg","to":"abi_aragon_app_finance","tot":"global"},{"t":"set","p":"payload.appName","pt":"msg","to":"fi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1580,"wires":[["934ce044.51ef5"]]},{"id":"a4931ddb.6ded1","type":"chatbot-telegram-send","z":"567f5928.9e5348","bot":"ea6436a7.e5ef18","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":710,"y":520,"wires":[["7d6bd9a1.614b38","a30ad8db.f53568"]]},{"id":"cff16d7c.aecee","type":"link out","z":"567f5928.9e5348","name":"Out: Cancel Command","links":["f2a4c5e0.830038","58e86edd.bba16","d97d3e76.982a4"],"x":1160,"y":580,"wires":[]},{"id":"e5ea02a4.48e2","type":"debug","z":"567f5928.9e5348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1360,"y":580,"wires":[]},{"id":"ac792ed5.2b941","type":"inject","z":"971362fb.30577","name":"Maintenance Mode","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":470,"y":740,"wires":[["45f67260.fd045c"]]},{"id":"45f67260.fd045c","type":"change","z":"971362fb.30577","name":"","rules":[{"t":"set","p":"maintenance","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":740,"wires":[[]]},{"id":"91236eb7.3b132","type":"switch","z":"971362fb.30577","name":"","property":"maintenance","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":900,"wires":[["cc7c1f3e.f5e6"],["cbec7a1c.7e3a88"]]},{"id":"4f1397dd.70ac78","type":"chatbot-message","z":"971362fb.30577","name":"","message":[{"message":"Hi, I'm under maintenance. I'll be back soon."}],"language":"","x":670,"y":840,"wires":[["597c8f51.a1d35"]]},{"id":"597c8f51.a1d35","type":"chatbot-telegram-send","z":"971362fb.30577","bot":"ea6436a7.e5ef18","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":850,"y":840,"wires":[]},{"id":"cc7c1f3e.f5e6","type":"switch","z":"971362fb.30577","name":"","property":"payload.userId","propertyType":"msg","rules":[{"t":"eq","v":"897802142","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":900,"wires":[["cbec7a1c.7e3a88"],["4f1397dd.70ac78"]]},{"id":"3f9860f5.a924e","type":"debug","z":"971362fb.30577","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":1020,"wires":[]},{"id":"f3620db.590b4f","type":"chatbot-telegram-send","z":"567f5928.9e5348","bot":"ea6436a7.e5ef18","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":690,"y":700,"wires":[["26bc8501.eb3c6a","502cbac1.da8234"]]},{"id":"aef18e7b.64fcf","type":"subflow:94417973.813618","z":"567f5928.9e5348","name":"","env":[],"x":1200,"y":760,"wires":[]},{"id":"502cbac1.da8234","type":"change","z":"567f5928.9e5348","name":"","rules":[{"t":"set","p":"payload.chat_id","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"payload.message_id","pt":"msg","to":"originalMessage.message_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":760,"wires":[["aef18e7b.64fcf"]]},{"id":"769ecdee.64f104","type":"link out","z":"567f5928.9e5348","name":"Out: Cancel Command","links":["f2a4c5e0.830038","58e86edd.bba16","d97d3e76.982a4"],"x":1055,"y":720,"wires":[]},{"id":"d97d3e76.982a4","type":"link in","z":"87a6c1e9.bb1ab","name":"In: Cancel Command","links":["cff16d7c.aecee","769ecdee.64f104","40025e4a.bf92f","e5bf6a96.5a2e88","73751660.265b58","13743368.e443dd","4e5af516.8113dc","738ad1f8.8473a","9e81b95b.d867f8","8c25cdb3.6ad86","b695ac28.29748","b483be34.2da68"],"x":215,"y":500,"wires":[["edb52d9a.c62e6"]]},{"id":"edb52d9a.c62e6","type":"function","z":"87a6c1e9.bb1ab","name":"Cancel Message","func":"msg.payload.content = `\nThe command has been cancelled. Anything else I can do for you?\nSend /help for a list of commands.\n`\nreturn msg;","outputs":1,"noerr":0,"x":385,"y":500,"wires":[["458922e3.3ccd7c"]]},{"id":"458922e3.3ccd7c","type":"chatbot-telegram-send","z":"87a6c1e9.bb1ab","bot":"ea6436a7.e5ef18","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":645,"y":500,"wires":[[]]},{"id":"7bfe5e5.a9974a","type":"switch","z":"727f9302.0d1ccc","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/cancel","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":1340,"wires":[["73751660.265b58"],["3d0bedec.589192"]]},{"id":"73751660.265b58","type":"link out","z":"727f9302.0d1ccc","name":"Out: Cancel Command","links":["f2a4c5e0.830038","58e86edd.bba16","d97d3e76.982a4"],"x":895,"y":1280,"wires":[]},{"id":"784a2a14.8ece74","type":"switch","z":"727f9302.0d1ccc","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/cancel","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":1580,"wires":[["13743368.e443dd"],["e5f9b81a.fdc6f8"]]},{"id":"13743368.e443dd","type":"link out","z":"727f9302.0d1ccc","name":"Out: Cancel Command","links":["f2a4c5e0.830038","58e86edd.bba16","d97d3e76.982a4"],"x":915,"y":1520,"wires":[]},{"id":"69d69e91.8e93e","type":"switch","z":"727f9302.0d1ccc","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/cancel","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":1780,"wires":[["4e5af516.8113dc"],["98831f69.5141a"]]},{"id":"4e5af516.8113dc","type":"link out","z":"727f9302.0d1ccc","name":"Out: Cancel Command","links":["f2a4c5e0.830038","58e86edd.bba16","d97d3e76.982a4"],"x":875,"y":1720,"wires":[]},{"id":"738ad1f8.8473a","type":"link out","z":"567f5928.9e5348","name":"Out: Cancel Command","links":["f2a4c5e0.830038","58e86edd.bba16","d97d3e76.982a4"],"x":535,"y":400,"wires":[]},{"id":"814579d.349f488","type":"switch","z":"727f9302.0d1ccc","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/cancel","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":300,"wires":[["9e81b95b.d867f8"],["d70316dd.407458"]]},{"id":"9e81b95b.d867f8","type":"link out","z":"727f9302.0d1ccc","name":"Out: Cancel Command","links":["f2a4c5e0.830038","58e86edd.bba16","d97d3e76.982a4"],"x":675,"y":240,"wires":[]},{"id":"691cbfcb.e1b69","type":"switch","z":"727f9302.0d1ccc","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/cancel","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":380,"wires":[["8c25cdb3.6ad86"],["16c802f7.448e7d"]]},{"id":"8c25cdb3.6ad86","type":"link out","z":"727f9302.0d1ccc","name":"Out: Cancel Command","links":["f2a4c5e0.830038","58e86edd.bba16","d97d3e76.982a4"],"x":655,"y":340,"wires":[]},{"id":"b695ac28.29748","type":"link out","z":"567f5928.9e5348","name":"Out: Cancel Command","links":["f2a4c5e0.830038","58e86edd.bba16","d97d3e76.982a4"],"x":1582,"y":1039,"wires":[]},{"id":"a56c9a96.d6f598","type":"link in","z":"4e92282e.32ef58","name":"In: Aragon Notification","links":["ae58c847.0b6148"],"x":200,"y":1200,"wires":[["32d65486.98a54c"]]},{"id":"ae58c847.0b6148","type":"link out","z":"4e92282e.32ef58","name":"","links":["a56c9a96.d6f598"],"x":1455,"y":920,"wires":[]},{"id":"8c7032ca.fde33","type":"switch","z":"4e92282e.32ef58","name":"","property":"payload.fields.dao_type","propertyType":"msg","rules":[{"t":"eq","v":"Aragon","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1330,"y":920,"wires":[["ae58c847.0b6148"],[]]},{"id":"32d65486.98a54c","type":"function","z":"4e92282e.32ef58","name":"Aragon Notification Message","func":"length = msg.payload.event.length;\nevent = msg.payload.event[length - 1];\neventName = '';\nif(msg.payload.eventName !== \"all\"){\n   eventName = msg.payload.eventName;\n}\nether_scan_url = '';\nif(msg.payload.fields.network === 'rinkeby'){\n    ether_scan_url = 'https://rinkeby.etherscan.io';\n}else if(msg.payload.fields.network === 'kovan'){\n    ether_scan_url = 'https://kovan.etherscan.io';\n}else if(msg.payload.fields.network === 'mainnet'){\n    ether_scan_url = 'https://etherscan.io'\n}\n\n\ncache = global.get('cache');\nif(cache === undefined){\n    cache = {}\n}\nif(cache[msg.payload.fields.user_id] === event.transactionHash){\n    return;\n}\n\n\nmsg.payload.chatId = msg.payload.fields.user_id;\n\nbuttons = [];\n\n// prepare direct trx link\n// daoUrl = `https://${msg.payload.fields.network}.aragon.org/#/${msg.payload.fields.}`\nbuttons.push(button = {\n\t\"type\": \"url\",\n\t\"label\": `View on ${msg.payload.fields.dao_name}`,\n\t\"url\": `${msg.payload.fields.dao_url}`,\n\t\"alert\": false,\n\t\"style\": \"\"\n});\n\nbuttons.push({\n    \"type\": \"newline\"\n});\n\nbuttons.push(button = {\n\t\"type\": \"url\",\n\t\"label\": \"View on Etherscan\",\n\t\"url\": `${ether_scan_url}/tx/${event.transactionHash}`,\n\t\"alert\": false,\n\t\"style\": \"\"\n});\n\neventNameDetails = msg.payload.fields.event === \"all\" ? '' : `Event Name: ${msg.payload.fields.event}`;\n\nmsg.payload.type = \"inline-buttons\";\nmsg.payload.content = `\nHey, There is a new ${msg.payload.fields.app_name} event at ${msg.payload.fields.dao_type} (${msg.payload.fields.dao_name})\n${eventNameDetails}\n`;\nmsg.payload.buttons = buttons;\n// msg.payload.params = [\n//   { platform: 'telegram', name: 'parse_mode', value: 'Markdown'}\n// ];\n\ncache[msg.payload.fields.user_id] = event.transactionHash;\nglobal.set('cache', cache);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":400,"y":1200,"wires":[["ecbf1dfb.aef7e","fc1631ec.cdc8d"]]},{"id":"ecbf1dfb.aef7e","type":"link out","z":"4e92282e.32ef58","name":"","links":["b0cf71f1.cd165"],"x":635,"y":1200,"wires":[]},{"id":"f2c4ea94.927d58","type":"function","z":"4e92282e.32ef58","name":"Aragoon Notification Message","func":"length = msg.payload.event.length;\nevent = msg.payload.event[length - 1];\neventName = '';\nif(msg.payload.eventName !== \"all\"){\n   eventName = msg.payload.eventName;\n}\nether_scan_url = '';\nif(msg.payload.fields.network === 'rinkeby'){\n    ether_scan_url = 'https://rinkeby.etherscan.io';\n}else if(msg.payload.fields.network === 'kovan'){\n    ether_scan_url = 'https://kovan.etherscan.io';\n}else if(msg.payload.fields.network === 'mainnet'){\n    ether_scan_url = 'https://etherscan.io'\n}\n\nmsg.payload.content = `\nNew ${msg.payload.fields.dao_name} ${eventName} Event for ${msg.payload.fields.app_name}\nVerify At\n${ether_scan_url}/tx/${event.transactionHash}\n`;\nmsg.payload.chatId = msg.payload.fields.user_id;\nmsg.payload.type = 'message';\n// global.set(event.transactionHash, true);\nreturn msg;\n","outputs":1,"noerr":0,"x":321,"y":1119,"wires":[[]]},{"id":"a168c7fe.f5b2e8","type":"inject","z":"4e92282e.32ef58","name":"","topic":"","payload":"{\"id\":\"recoPoCSFtvTYfOkL\",\"fields\":{\"user_id\":\"897802142\",\"contract_address\":\"0x97e83d934746ebd535db3fdb40304d803bfdc4c2\",\"event\":\"all\",\"network\":\"rinkeby\",\"abi_ref\":\"abi_aragon_app_voting\",\"linked_user\":[\"rec5Ph9AEWFm5URY4\"],\"dao_name\":\"koronatest\",\"app_name\":\"Voting\",\"dao_url\":\"https://rinkeby.aragon.org/#/koronatest\",\"dao_type\":\"Aragon\"},\"abi\":[{\"constant\":true,\"inputs\":[],\"name\":\"hasInitialized\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_script\",\"type\":\"bytes\"}],\"name\":\"getEVMScriptExecutor\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getRecoveryVault\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"MODIFY_QUORUM_ROLE\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"MODIFY_SUPPORT_ROLE\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"token\",\"type\":\"address\"}],\"name\":\"allowRecoverability\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"appId\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getInitializationBlock\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"}],\"name\":\"transferToVault\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_sender\",\"type\":\"address\"},{\"name\":\"_role\",\"type\":\"bytes32\"},{\"name\":\"_params\",\"type\":\"uint256[]\"}],\"name\":\"canPerform\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getEVMScriptRegistry\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"voteTime\",\"outputs\":[{\"name\":\"\",\"type\":\"uint64\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"CREATE_VOTES_ROLE\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"kernel\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"minAcceptQuorumPct\",\"outputs\":[{\"name\":\"\",\"type\":\"uint64\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"isPetrified\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"votesLength\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"supportRequiredPct\",\"outputs\":[{\"name\":\"\",\"type\":\"uint64\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"token\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"PCT_BASE\",\"outputs\":[{\"name\":\"\",\"type\":\"uint64\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"voteId\",\"type\":\"uint256\"},{\"indexed\":true,\"name\":\"creator\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"metadata\",\"type\":\"string\"}],\"name\":\"StartVote\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"voteId\",\"type\":\"uint256\"},{\"indexed\":true,\"name\":\"voter\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"supports\",\"type\":\"bool\"},{\"indexed\":false,\"name\":\"stake\",\"type\":\"uint256\"}],\"name\":\"CastVote\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"voteId\",\"type\":\"uint256\"}],\"name\":\"ExecuteVote\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"supportRequiredPct\",\"type\":\"uint64\"}],\"name\":\"ChangeSupportRequired\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"minAcceptQuorumPct\",\"type\":\"uint64\"}],\"name\":\"ChangeMinQuorum\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"executor\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"script\",\"type\":\"bytes\"},{\"indexed\":false,\"name\":\"input\",\"type\":\"bytes\"},{\"indexed\":false,\"name\":\"returnData\",\"type\":\"bytes\"}],\"name\":\"ScriptResult\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"vault\",\"type\":\"address\"},{\"indexed\":true,\"name\":\"token\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"amount\",\"type\":\"uint256\"}],\"name\":\"RecoverToVault\",\"type\":\"event\"},{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"},{\"name\":\"_supportRequiredPct\",\"type\":\"uint64\"},{\"name\":\"_minAcceptQuorumPct\",\"type\":\"uint64\"},{\"name\":\"_voteTime\",\"type\":\"uint64\"}],\"name\":\"initialize\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_supportRequiredPct\",\"type\":\"uint64\"}],\"name\":\"changeSupportRequiredPct\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_minAcceptQuorumPct\",\"type\":\"uint64\"}],\"name\":\"changeMinAcceptQuorumPct\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_executionScript\",\"type\":\"bytes\"},{\"name\":\"_metadata\",\"type\":\"string\"}],\"name\":\"newVote\",\"outputs\":[{\"name\":\"voteId\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_executionScript\",\"type\":\"bytes\"},{\"name\":\"_metadata\",\"type\":\"string\"},{\"name\":\"_castVote\",\"type\":\"bool\"},{\"name\":\"_executesIfDecided\",\"type\":\"bool\"}],\"name\":\"newVote\",\"outputs\":[{\"name\":\"voteId\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_voteId\",\"type\":\"uint256\"},{\"name\":\"_supports\",\"type\":\"bool\"},{\"name\":\"_executesIfDecided\",\"type\":\"bool\"}],\"name\":\"vote\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_voteId\",\"type\":\"uint256\"}],\"name\":\"executeVote\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"isForwarder\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"pure\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_evmScript\",\"type\":\"bytes\"}],\"name\":\"forward\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_sender\",\"type\":\"address\"},{\"name\":\"\",\"type\":\"bytes\"}],\"name\":\"canForward\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_voteId\",\"type\":\"uint256\"}],\"name\":\"canExecute\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_voteId\",\"type\":\"uint256\"},{\"name\":\"_voter\",\"type\":\"address\"}],\"name\":\"canVote\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_voteId\",\"type\":\"uint256\"}],\"name\":\"getVote\",\"outputs\":[{\"name\":\"open\",\"type\":\"bool\"},{\"name\":\"executed\",\"type\":\"bool\"},{\"name\":\"startDate\",\"type\":\"uint64\"},{\"name\":\"snapshotBlock\",\"type\":\"uint64\"},{\"name\":\"supportRequired\",\"type\":\"uint64\"},{\"name\":\"minAcceptQuorum\",\"type\":\"uint64\"},{\"name\":\"yea\",\"type\":\"uint256\"},{\"name\":\"nay\",\"type\":\"uint256\"},{\"name\":\"votingPower\",\"type\":\"uint256\"},{\"name\":\"script\",\"type\":\"bytes\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_voteId\",\"type\":\"uint256\"},{\"name\":\"_voter\",\"type\":\"address\"}],\"name\":\"getVoterState\",\"outputs\":[{\"name\":\"\",\"type\":\"uint8\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"}],\"address\":\"0x97e83d934746ebd535db3fdb40304d803bfdc4c2\",\"network\":\"rinkeby\",\"eventName\":\"all\",\"event\":[{\"blockNumber\":6217149,\"blockHash\":\"0x71f19a3d9ae7eaf4675b5dd37aeb25966be3c616b3b135844aaa19e3a6d13383\",\"transactionIndex\":1,\"removed\":false,\"address\":\"0x97e83D934746ebD535Db3FDB40304D803bFdc4c2\",\"data\":\"0x\",\"topics\":[\"0xbf8e2b108bb7c980e08903a8a46527699d5e84905a082d56dacb4150725c8cab\",\"0x0000000000000000000000000000000000000000000000000000000000000021\"],\"transactionHash\":\"0xa263a99222509336f2cdb4dedad22c31e5ed275d93f42d5186bdc1c3a6cff5d2\",\"logIndex\":2}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1030,"y":800,"wires":[["b455324a.825f7"]]},{"id":"b455324a.825f7","type":"json","z":"4e92282e.32ef58","name":"","property":"payload","action":"obj","pretty":false,"x":1230,"y":800,"wires":[["76e91f84.c4a8"]]},{"id":"fc1631ec.cdc8d","type":"debug","z":"4e92282e.32ef58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":1260,"wires":[]},{"id":"75171f01.40ca1","type":"link out","z":"727f9302.0d1ccc","name":"","links":["ef93ef11.d7899"],"x":1455,"y":1580,"wires":[]},{"id":"ef93ef11.d7899","type":"link in","z":"727f9302.0d1ccc","name":"","links":["75171f01.40ca1"],"x":200,"y":1980,"wires":[["49d68fd7.b7b39"]]},{"id":"49d68fd7.b7b39","type":"function","z":"727f9302.0d1ccc","name":"App Events","func":"\nevents = [];\nlet index = 1;\nappName = msg.payload.appName;\n\nevents.push(button = {\n\t\t\"type\": \"postback\",\n\t\t\"label\": \"Default\",\n\t\t\"value\": `{\"en\":\"all\", \"d\":\"ar\", \"ap\":\"${appName}\", \"ac\":\"ad\"}`,\n\t\t\"alert\": false,\n\t\t\"style\": \"\"\n\t});\nevents.push(button = {\n\t\"type\": \"postback\",\n\t\"label\": \"Advance\",\n\t\"value\": `{\"en\":\"advance\", \"d\":\"ar\", \"ap\":\"${appName}\", \"ac\":\"ad\"}`,\n\t\"alert\": false,\n\t\"style\": \"\"\n});\n\nmsg.payload.type = \"inline-buttons\";\nmsg.payload.content = \"Please choose which events you want to subscribe to ... \";\nmsg.payload.buttons = events;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1980,"wires":[["4adf1361.ab6b9c"]]},{"id":"62710118.5f5ef","type":"switch","z":"727f9302.0d1ccc","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/cancel","vt":"str"},{"t":"istype","v":"json","vt":"json"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":1980,"wires":[["b483be34.2da68"],["a7064db2.3a914"]]},{"id":"b483be34.2da68","type":"link out","z":"727f9302.0d1ccc","name":"Out: Cancel Command","links":["f2a4c5e0.830038","58e86edd.bba16","d97d3e76.982a4"],"x":955,"y":1920,"wires":[]},{"id":"a7064db2.3a914","type":"json","z":"727f9302.0d1ccc","name":"","property":"payload.content","action":"obj","pretty":false,"x":990,"y":1980,"wires":[["7575c5bd.3889fc"]]},{"id":"7575c5bd.3889fc","type":"switch","z":"727f9302.0d1ccc","name":"","property":"payload.content.en","propertyType":"msg","rules":[{"t":"eq","v":"all","vt":"str"},{"t":"eq","v":"advance","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":1980,"wires":[["c79dbe81.23aaa"],["fec97a80.286ff8","ba152f8e.4b99"]]},{"id":"c79dbe81.23aaa","type":"link out","z":"727f9302.0d1ccc","name":"","links":["ce89853d.008708"],"x":1235,"y":1920,"wires":[]},{"id":"fec97a80.286ff8","type":"function","z":"727f9302.0d1ccc","name":"","func":"msg.payload.appName = msg.payload.content.ap;\nif(msg.payload.content.ap === 'vt'){\n    msg.payload.abi = global.get(\"abi_aragon_app_voting\");\n}else if(msg.payload.content.ap === 'fi'){\n     msg.payload.abi = global.get(\"abi_aragon_app_finance\");\n}else if(msg.payload.content.ap === 'tk'){\n     msg.payload.abi = global.get(\"abi_aragon_app_token\");\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":1980,"wires":[["99e171f5.875db"]]},{"id":"4adf1361.ab6b9c","type":"subflow:3c49b0cb.137ae","z":"727f9302.0d1ccc","name":"","x":610,"y":1980,"wires":[["62710118.5f5ef"]]},{"id":"ba152f8e.4b99","type":"change","z":"727f9302.0d1ccc","name":"","rules":[{"t":"set","p":"payload.chat_id","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"payload.message_id","pt":"msg","to":"originalMessage.message_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":1920,"wires":[["a799fd7.116b"]]},{"id":"a799fd7.116b","type":"subflow:94417973.813618","z":"727f9302.0d1ccc","name":"","env":[],"x":1600,"y":1920,"wires":[]},{"id":"dfb17ab5.34cc08","type":"inject","z":"971362fb.30577","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":220,"wires":[["f92b497e.7c0ab8"]]},{"id":"f92b497e.7c0ab8","type":"change","z":"971362fb.30577","name":"","rules":[{"t":"set","p":"bot_token","pt":"global","to":"1103028087:AAFjp-Mi90LmFmzmVD6gZUVV5ake0YLheI4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":220,"wires":[[]]},{"id":"ef43913a.13532","type":"debug","z":"94417973.813618","name":"Msg Deleted","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":720,"y":120,"wires":[]},{"id":"fa72768d.2d2ab8","type":"debug","z":"94417973.813618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":40,"wires":[]}]